[2019-03-10 14:26] crookse opened #13 "Tagged Logging"
Users should be able to add tags to log messages. Examples below:

[code]
* The logger classes should take in a `tag_string` config that defines how the tags are arranged.
* The logger classes should take in a `tag_string_fns` config that defines each tag.
* The format of a tag in the `tag_string` config is `{some_tag}` (with the brackets so they can be replaced easily).
* The `{level}` tag is a r

[2019-03-10 14:55] crookse opened #14 "HTTP Resource Lifecycle Hooks"
Brief Summary
---

Resource classes should have the following lifecycle hooks:

`hook_beforeRequest()`
`hook_afterRequest()`

Acceptance Critera
---

* The `hook_beforeRequest()` method should be performed before any request method is called.
* The `hook_afterRequest()` method should be performed after any request method is called. This hook should be performed before the response is sent to the c

[2019-03-10 16:15] crookse opened #15 "Request URL needs more parsing"
Brief Summary
---

Request URLs are being parsed with the assumption that they always have a query string. This is wrong. Improve the hydration of HTTP request objects in the `Drash.Services.HttpService` class so that the request has the following properties:

* `url_query_string`
* `url_query_params`
* `url_path`

Acceptance Criteria
---

If the URL is `localhost:8000/what/the?ok=then`, then foll

[2019-03-10 16:35] crookse commented on #15
#16

[2019-03-10 16:40] #15 closed

[2019-03-10 19:54] crookse opened #17 "Response ETag Header"
Summary
---

What: HTTP responses should send the `ETag` response header for improved caching. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag for more info.

Why: Improve caching.

Acceptance Critera
---

* The `ETag` should be present in response headers.

Example Pseudo Code (for implementation)
---

[code]

[2019-03-10 20:04] crookse opened #18 "Namespace for Loggers"
Summary
---

What: Drash should have a `Loggers` namespace where all loggers can be stored for global use.

Why: Importing the Drash namespace in each file instead of having multiple import lines cleans up the file and creates one way to grab the loggers.

Acceptance Criteria
---
- [x]  A logger object should be accessible via `Drash.Loggers.MyCoolLogger.info("Hello!");`
- [x]   A logger object ca

[2019-03-10 20:08] crookse opened #19 "Switch Vendor namespace to Members"
Summary
---

What: Currently, the `Drash.addMember()` function adds a new member to the `Drash.Vendor` namespace. The namespace should be `Drash.Members`.

Why: Semantics.

Acceptance Criteria
---

* A member should be accessible via `Drash.Members.MyMember`
* Members must be unique

Example Pseudo Code (for implementation)
---

None.

[2019-03-11 15:22] #13 closed

[2019-03-13 11:23] crookse opened #22 "DocBlock parser"
Summary
---

What: Need a DocBlock parser to generate API Reference page(s).

Why: After some investigating, TypeDoc seems to be the best option for generating docs. However, without editing its internals, you can't really parse .ts files (especially Deno-friendly .ts files). Errors are thrown because of linting, errors are thrown because TypeDoc can't find imports, etc. Just make a parser for now

[2019-03-14 03:59] crookse commented on #22
Done. It's now generating `api_reference.json` which is data taken from the docblocks of each specified class.

[2019-03-14 03:59] #22 closed

[2019-03-20 15:09] crookse opened #24 "Prism.js laggy when highlighting big blocks of code"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /api-reference/compilers and you'll see the main thread is blocked
2. Done.

**Expected behavior**
Pages with big blocks of code should not have Prism.js block the main thread. Blocking the main thread causes the page to appear frozen. You can see why this is bad.

*

[2019-03-20 16:07] #24 closed

[2019-03-21 20:47] crookse opened #26 "Images aren't being served properly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mini app with one resource accessible at the `/` URI with a `GET` method.
2. In the `GET` method, set the response to return an image (any image).
3. Run the app.
4. Load the resource in the browser and you'll see that the image doesn't render. In Firefox, you'll

[2019-03-22 14:56] #26 closed

[2019-03-27 02:08] crookse opened #29 "Auto-build routes; stop entering them manually"
## Summary

What: Importing every route manually in `_bundle.js` is getting old. This should be automated using `watchmedo`.

Why: Laziness...

## Acceptance Critera

- When `watchmedo` starts/restarts the docs server, it should build all of the routes automatically
- `import()` should not be used

## Example Pseudo Code (for implementation)

None

[2019-03-27 03:24] #29 closed

[2019-03-28 00:35] crookse opened #32 "example_code data in response_service.ts should be automatically compiled like the vue-router's routes"
## Summary

What: Manually entering the example code data is annoying.

Why: The tools exist to make this automatic just like the vue-router's routes. Also... laziness.

## Acceptance Critera

- Compile `example_code` automatically
- Current code should work with implementation

[2019-03-28 04:32] #32 closed

[2019-03-30 00:57] #19 closed

[2019-03-30 01:52] crookse opened #35 "Tutorial: Creating an API"
possible location: https://crookse.github.io/deno-drash/#/creating-an-appplication/api

[2019-03-30 01:54] crookse opened #36 "Tutorial: Creating a server-rendered HTML web app"
possible location: possible location: https://crookse.github.io/deno-drash/#/creating-an-appplication/server-side-html

[2019-03-30 01:55] crookse opened #37 "Tutorial: Creating a Vue app"
possible location: https://crookse.github.io/deno-drash/#/creating-an-appplication/vue

[2019-03-30 02:00] crookse opened #38 "Tutorial: Compiling JSON from doc blocks using the DocBlocksToJson compiler"
possible location: https://crookse.github.io/deno-drash/#/tutorials/compiling/doc-blocks-to-json

[2019-03-31 04:22] crookse opened #40 "Drash.Http.Response should not be read-only"
**Describe the bug**
When trying to override `Drash.Http.Response`, a "read-only" error is thrown.

**To Reproduce**
Steps to reproduce the behavior:

Run the example app and uncomment line 6.

**Expected behavior**
Users should be able to overwrite `Drash.Http.Response`.

**Suggested Solution(s)**
Use `let` instead of `const` in `mod.ts`.

[2019-03-31 04:27] #40 closed

[2019-04-13 23:15] liangchunn opened #48 "`generateHtmlResponse` doesn't support async overrides"
### Description
In [Part 2 of the Tutorial](https://crookse.github.io/deno-drash/#/tutorials/creating-an-app-hello-world-part-2), an override of `Drash.Http.Response` is introduced with member method of `async generateHtmlResponse()`.

[code]

The problem arises when `Drash.Http.Response.send()` calls `Drash.Http.Response.generateResponse()` which invokes the overriden function `Response.generateH

[2019-04-14 00:07] crookse commented on #48
Fix is in place: `import Drash from "https://deno.land/x/drash@v0.7.9/mod.ts";`

Thanks for catching that @liangchunn !

[2019-04-14 00:07] #48 closed

[2019-04-14 00:16] crookse commented on #48
Feel free to send a pull request next time @liangchunn

[2019-04-14 02:01] crookse opened #50 "Access to request body"
## Summary

What: Access to `this.request.body`.

Why: `this.request.url_query_params`, `this.request.path_params`, and `this.request.body` should all be accessible to find HTTP variable values.

## Acceptance Critera

- `this.request.body` should be accessible in all members that have access to the request object.

[2019-04-14 18:05] crookse opened #52 "automate version bump in docs"
## Summary

What: Automate version bump

Why: Manually updating the version in the docs is annoying.

[2019-04-16 17:36] #50 closed

[2019-04-20 02:11] crookse opened #56 "server logger not accessible from resource"
**Describe the bug**
The server logger is not accessible from the resource class. For example, calling `this.server.logger.debug("some debug message.")` in a resource class will throw `Property 'logger' is protected and only accessible within class 'Server' and its subclasses.`

**To Reproduce**
Steps to reproduce the behavior:

Run the following app:

[code]

**Expected behavior**
`this.server.lo

[2019-04-20 02:16] crookse commented on #56
fixed by issue #57

[2019-04-20 02:16] #56 closed

[2019-04-26 01:07] #14 closed

[2019-04-28 15:03] crookse opened #62 "doc block parser is parsing multiline signatures and more (not smart enough)"
**Describe the bug**
When parsing doc blocks for JSON output for the API reference, the doc blocks end up with characters that aren't expected to be matched.

https://regexr.com/ shows that more than what's expected is being matched.

**To Reproduce**
Steps to reproduce the behavior:

1. Open up https://regexr.com/.
2. Copy and paste contents of `server.ts` into regexr.
3. Copy `re_all_members` re

[2019-04-28 17:57] #62 closed

[2019-05-07 02:42] crookse opened #64 "Test/support deno v0.4.0 to v0.5.0"
Deno was updated. Test Drash and support Deno accordingly.

[2019-05-12 22:36] #64 closed

[2019-06-22 14:30] crookse opened #68 "favicon.ico keeps being requested on every vue $route change"
**Describe the bug**

`favicon.ico` keeps being requested on every vue `$route` change

**To Reproduce**

1. Start the dev server.
2. Open the browser to view the docs.
3. Open the browser's inspector (keep an eye on the Network tab).
4. Click random pages in the docs' sidebar (favicon.ico requests will be made per click).

**Expected behavior**

`favicon.ico` requests should only be made once (wh

[2019-06-22 14:31] crookse commented on #38
Closing this issue because the compiler is now https://github.com/crookse/docable

[2019-06-22 14:31] #38 closed

[2019-06-23 01:41] crookse opened #69 "make codebase portable"
## Summary

What: Code should be portable so that it can be used with other runtimes/frameworks/etc. (e.g., Node)

## Acceptance Criteria

- All runtime environment specific code (e.g., Deno.env()) should be exported from a single file. Said file will serve as the entry point for code belonging to the system using Drash.
    - Filename should be: system.ts

[2019-07-08 14:49] crookse opened #71 "replace watchdog with watch module"
## Summary

What: Currently, Drash uses watchdog--a python package--for watching files in the docs development environment (just like how nodemon is used in Node). The [watch](https://deno.land/x/watch/README.md) module should be used (if it's a good candidate) for watching files and reloading the docs development environment's server instead just to keep the codebase close to the Deno space.

Why

[2019-07-10 06:50] Lonniebiz commented on #17
FYI, the creator of [Fastify](https://www.fastify.io/) say you can increase performance in Express by [disabling eTags](https://www.youtube.com/watch?v=gltzZjKYK1I&t=4m11s). I'm not saying Drash shouldn't support etags, but I'd like see Drash performance be better than fastify and express; maybe that's possible on top of deno.

[2019-07-10 07:14] Lonniebiz commented on #18
One nice thing about namespaces, versus imports, is the consistent "path length" that namespaces offer. Since `import` only accepts URLs and relative paths, the relative paths grow longer as code file are placed deeper in the directory hierarchy.

For example, if your app goes 4 folders deep, you'd end up with an import that looks like this:
`import { logger } from '../../../../Logs/logFile1.js';`

[2019-07-10 07:24] Lonniebiz commented on #68
That's strange. You'd think browser would cache it and not request it multiple times within the same domain.

[2019-07-10 16:01] crookse commented on #18
@Lonniebiz,

You make a good point. I didn't think about tree shaking when I wrote this feature. I don't think adding the logic to support this would hurt though. Adding the logic would just add the convenience of using namspaced loggers (if anyone would want to go that route).

[2019-07-10 16:08] crookse commented on #17
@Lonniebiz ,

Thanks for including the link! That's pretty interesting. I haven't done any benchmarking for Drash, but I'll make sure testing performance for this feature is included.

[2019-07-10 16:13] crookse commented on #68
@Lonniebiz,

At one point this was working as expected. I'm not sure where/when it broke. Checking out earlier releases might give some leads to the issue, but I haven't made this a priority. It only affects the developer.

[2019-07-10 19:02] Lonniebiz commented on #68
Perhaps favicon caching could be handled in the http header:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Caching_static_assets

However, setting Cache-Control headers on static assets, with any level of granularity, sounds tedious (especially at file-level granularity). Here's an example of Express [caching at file-type granularity](https://expressjs.com/en/resources/mi

[2019-08-20 08:39] khanh19934 opened #75 "Need document for connect database"
Do you have any plan for document to connect the database such as mongodb, mysql etc .. ?
I try some lib of deno to connect mysql such as `deno_mysql` but i dont know how to use in resource. Like we can pass the `client` as argument of class resource ?

[2019-08-23 13:06] crookse commented on #75
Hi @khanh19934,

You can do this by adding a global member: https://crookse.github.io/deno-drash/#/tutorials/adding-global-members

I know it might not be too intuitive because adding the class/service that handles your MySQL processes will be added to the `Drash.Members` namespace, but it’ll work.

I’ll look into adding configurations to the server for MySQL connections though. I’m also open to s

[2019-08-31 14:01] #52 closed

[2019-10-07 00:44] crookse opened #83 "405 being thrown instead of 500"
**Describe the bug**
When a resource's request method is executing code and that code suddenly throws an error, the Drash server shows a "405 Method Not Allowed" response. Clearly, the method exists, but for some reason the error being thrown in the method is being thrown as a 405.

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following resource (assumes you've created the serv

[2019-10-07 00:55] #83 closed

[2019-11-02 13:16] crookse opened #89 "import crookse/drash"
## Summary

What: Import crookse/drash code

Why: crookse/drash code will contain all of the core and common logic that's used to create the deno-drash microframework. It's written in TS, compiled to JS, and can be used in any JS platform.

## Acceptance Critera

- Remove Dictionaries
- Remove Exceptions
- Remove Logger and ConsoleLogger
- Have FileLogger use imported Drash BaseLogger
- Remove uti

[2019-11-03 22:03] crookse opened #92 "automate docs deploy"
## Summary

What: Automate docs deployment when tag is pushed.

Why: Running the deploy script locally to deploy the docs to production can be automated and improve the workflow. Travis CI should deploy the docs when a new tag is pushed.

[2019-11-03 23:34] crookse commented on #92
feature added with v0.22.2

[2019-11-03 23:34] #92 closed

[2019-11-08 13:01] #69 closed

[2019-11-13 12:06] crookse opened #96 "Middleware"
## Pull Request

#97

## Summary

What: Add support for [middleware](https://azure.microsoft.com/en-us/overview/what-is-middleware/).

Why: Most frameworks come with middleware support. Drash should also support this. This will remove the resource lifecycle hooks, but will clean up the process. For example, middleware will help unify resources that would share the same lifecycle hook logic.

## Ac

[2019-11-17 13:48] crookse opened #99 "code beautification"
- [x]  make sure example code blocks are work - check tutorials and getting started directories (`/docs/src/example_code`); follow tutorials to make sure they're still valid
- [x]  consolidate vue templates - some templates don't use `page-tutorial-default` component and they need to
- [x]  code coverage - all areas of the code base should be tested

---

Pages
- [x]  Introduction
- [x]  Tutorials

[2019-11-18 03:00] crookse opened #100 "test example apps in docs"
## Summary

What:

Add unit tests for example apps in the docs. The example apps are the code blocks in the the tutorials.

Why:

Currently, the only tests run for the example apps in the docs are manual tests. There's no for sure way to know that the example code works with changes from Deno and changes from Drash unless each app is run manually. Also, it's a maintenance nightmare waiting to happ

[2019-11-24 13:58] crookse commented on #18
@saragee3,

i updated the acceptance criteria.

[2019-12-01 01:28] #96 closed

[2019-12-06 01:24] crookse opened #102 "content negotiation doesn't make sense anymore"
## Summary

What:

In #99, revising of the Content Negotiation docs revealed that the logic to get the Response-Content-Type header from the request happens in the response and doesn't make sense for it to be that way.

Why:

If a resource is responsible for determining its representation based on the request, then it should get that information from the request and not the response. The response

[2019-12-20 06:34] crookse commented on #102
Fixed in aafe6a6

[2019-12-20 06:34] #102 closed

[2019-12-27 01:50] crookse opened #106 "Use deno_std/media_types"
## Summary

What: Use the media types standard module instead of mime-db.

Why: I didn't know deno had its own media types handler. It uses mime-db. It doesn't make sense to manage mime-db in Drash when it's already managed by deno's standard modules.

## Acceptance Criteria

- [x] remove mime_db
- [x] use deno_std/media_types
- [x] update docs
- [x] tests

[2019-12-28 00:31] #99 closed

[2019-12-28 01:26] #106 closed

[2019-12-28 02:19] crookse commented on #75
Hey @khanh19934 ,

Here's a solution for you:

[code]

[code]

[code]

[code]

You'll want to make `client.ts` fit your MySQL requirements.

Below is a picture of it working. As you can see, I started up my server and ran `curl localhost:1337`. I got back the data from my `user` table. The left side of the screen is my project filesystem. The right side is my MySQL table, my server being run, and

[2019-12-28 02:19] #75 closed

[2019-12-28 02:29] crookse opened #109 "Docs: deno_mysql"
## Summary

What: Documentation for using deno_mysql

Why:

## Acceptance Criteria

- Add acceptance criteria as bulleted list

## Example Pseudo Code (for implementation)

[code]

[2019-12-28 02:57] #109 closed

[2019-12-28 03:00] crookse commented on #75
@khanh19934,

I made a documentation page related to this issue: https://crookse.github.io/deno-drash/#/third-party-tutorials/databases/deno-mysql

[2019-12-28 12:45] #100 closed

[2019-12-28 12:48] crookse opened #111 "move documentation to new repo"
## Summary

What: Move documentation to new repo

Why: `/docs` is growing and the Drash module needs to be lean. It's dumb to have to download the documentation to use the Drash module.

## Acceptance Criteria

- [x] `/docs` is removed
- [x] documentation works in new repo

[2019-12-29 16:54] #111 closed

[2019-12-30 22:14] crookse opened #113 "cannot read property of undefined when parsing request path params"
**Describe the bug**

When a resource specifies paths with and without path params and check for those path params regardless if they're present, then the following error could occur:

`"Cannot read property '{the_path_param}' of undefined"`

**To Reproduce**
Steps to reproduce the behavior:

Load the following resource in a Drash server and make a `GET /` request.

[code]

**Expected Behavior**

[2019-12-30 22:17] #113 closed

[2019-12-31 03:36] crookse opened #115 "types for all members"
## Summary

What: All members in the Drash namespace should have a type associations.

Why: Stricter syntax, more explosions when bad code is introduced, better API Reference page output.

**_This work requires [deno-drash-docs](https://github.com/drashland/deno-drash-docs) to be recompiled. See deno-drash-docs' [Workflows](https://github.com/drashland/deno-drash-docs/blob/master/WORKFLOWS.md) for

[2020-01-02 03:10] crookse opened #116 "Use GitHub Actions"
## Summary

What: Use GitHub Actions

Why: I think it's better to manage the CI process through GitHub since the code is here.

## Acceptance Criteria

- [x] Remove repo from Travis CI
- [x] Remove travis.yml
- [x] Add ci.yml via GitHub Actions
- [x] Have step in CI that runs `console/tests`
- [x] Update master shield to use GitHub Actions

[2020-01-05 00:57] crookse commented on #116
using `master.yml`, not `ci.yml`

[2020-01-05 01:32] #116 closed

[2020-01-05 01:39] crookse opened #120 "Make Drash portable"
## Summary

What: CI to compile Drash down to JS for portability

Why: Portability is cool.

## Acceptance Criteria

- [ ] add compilation script
- [ ] script runs in CI process
- [ ] script can be used manually

[2020-01-08 03:21] job111lyckk1 opened #122 "parsing of request body causes “Cannot read property 'byteLength' of undefined” error"
POST http://127.0.0.1:1447

version: drash v0.28.2

error: Uncaught TypeError: Cannot read property 'byteLength' of undefined
► bufio.ts:123:35

123     let rr: number | Deno.EOF = p.byteLength;

[2020-01-08 03:28] crookse commented on #122
Hi @job111lyckk1,

Were you following a tutorial? If not, could you please provide the steps to reproduce the issue. Thanks!

[2020-01-08 03:35] job111lyckk1 commented on #122
Yes，I run a POST request according to the following example: http://drash.land/#/tutorials/servers/creating-a-server

`error: Uncaught TypeError: Cannot read property 'byteLength' of undefined
► bufio.ts:123:35

123     let rr: number | Deno.EOF = p.byteLength;
                                      ^

    at read (bufio.ts:123:35)
    at _bodyStream (server.ts:177:29)`

[2020-01-08 03:38] crookse commented on #122
Have you tried making a `POST` to `localhost:1447` instead of `127.0.0.1:1447` ?

I ask because although in some frameworks `localhost` and `127.0.0.1` resolve to the same domain, I've noticed that deno doesn't do the same.

[2020-01-08 03:40] crookse commented on #122
A workaround for could be added when `Drash.Http.Server.run()` is called, but I haven't felt the need for one. Also, I'd have to look at deno to see if they're mapping `localhost` to `127.0.0.1` manually. Otherwise you'd have to do this to get `127.0.0.1` to work:

[code]

[2020-01-08 03:47] job111lyckk1 commented on #122
Both `localhost` and `127.0.0.1` will report an error.

[2020-01-08 03:50] crookse commented on #122
So I did discover something. Apparently Postman is causing Drash (or deno) to error out now. When I start the server and use `curl`, everything works fine. Not sure what's going on with Postman. Here is what I ran with curl:

[code]

I'll have to spend some time debugging Postman and why it's causing the errors.

[2020-01-08 04:02] job111lyckk1 commented on #122
I just tried curl and it works fine with all requests. postman only supports` GET` requests, but not `POST` `PUT` `DELETE`

[2020-01-08 15:07] crookse commented on #122
@job111lyckk1,

I investigated the issue. Turns out Drash wasn't able to read request bodies since v0.28.1. Drash v0.28.1 addressed the following deno fix: https://github.com/denoland/deno/pull/3575. That fix makes `request.body` a reader. I'll have to run some tests against [`Drash.Services.HttpService. getHttpRequestBodyParsed()`](https://github.com/drashland/deno-drash/blob/master/src/services/

[2020-01-09 02:45] #122 closed

[2020-01-09 02:47] crookse commented on #122
@job111lyckk1,

See release v0.28.3. Fix is in place.

[2020-01-09 23:35] #89 closed

[2020-02-05 12:43] crookse opened #130 "Minimal imports"
## Summary

What: Expose how to import Drash's members directly instead of importing all of Drash. Examples below.

Why: Not everyone will want to import the entire Drash namespace. Sometimes people will just want a single thing from Drash (e.g., the console logger).

## Acceptance Criteria

- [ ] Documentation on importing single files to non-Drash projects
- [ ] Test documentation example code

[2020-02-10 00:32] crookse opened #132 "Drash.Sockets.Server"
## Summary

What: `Drash.Sockets.Server`

## Acceptance Criteria

- [x] Code should be maintained in https://github.com/drashland/sockets
- [ ] Add namespace `Drash.Sockets`
- [ ] Make `Drash.Sockets.Server` class
    - [x] Tests
    - [x] Should be able to handle messages and send them to all clients

## Example Pseudo Code (for implementation)

See https://github.com/drashland/sockets

[2020-02-10 00:33] crookse opened #133 "Drash.Sockets.Client"
## Summary

What: `Drash.Sockets.Client`

## Acceptance Criteria

- [x] Code should be maintained in https://github.com/drashland/sockets
- [ ] Make `Drash.Sockets.Client` class
    - [x] Tests
    - [x] Should be able to talk to the socket server
    - [x] Should be able to have its messages sent to other clients

## Example Pseudo Code (for implementation)

See https://github.com/drashland/socke

[2020-02-11 12:33] crookse opened #134 "drashland/http"
## Summary

What: Split Drash.Http into its own repository. Import code from new repository.

Why: deno-drash should contain a compilation of modules that are imported from other repositories.

## Acceptance Criteria

- [x] create drashland/http
- [x] put http members in drashland/http
- [ ] import members from drashland/http
- [ ] tests should pass without change

[2020-02-16 01:14] crookse commented on #134
makes no sense

[2020-02-16 01:14] #134 closed

[2020-02-16 01:16] crookse opened #135 "deno watcher module"
## Summary

What: install Deno's watcher module

Why: watchdog doesn't install correctly anymore. I tried it on a newer mac and couldn't figure out why it wouldn't install. moving to deno-only utilities would be better and would keep the tech stack closer to just deno.

## Acceptance Criteria

- [ ] remove watchdog
- [ ] add deno's watcher module

[2020-02-17 20:06] ebebbington opened #136 "Drash.Loggers.ConsoleLogger is not a constructor"
**Bug Description**
When creating a 'morgan style' logger, the documentation show we must use the following: `const logger = new Drash.Loggers.ConsoleLogger({...})`. Yet, when compiled, an error is thrown:

`error: Uncaught TypeError: Drash.Loggers.ConsoleLogger is not a constructor`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a file named `logging_middleware.ts` and paste in the

[2020-02-17 20:54] ebebbington commented on #136
Found the issue.

In all documentation references, the usage of logging is: `Drash.Loggers.SomeLogger`. Although, in https://deno.land/x/drash/mod.ts, I see that the namespace Drash exports the Loggers under the namespace "CoreLoggers".

So I edited my  logger implementing to make this change, this is what my `app.ts` file looks like now:
[code]

I run the app and there are no errors and the bug h

[2020-02-17 21:06] ebebbington commented on #136
I'll add onto this, you can see how to create a logger from which object by doing the following:

[code]

I now see that `Drash.Loggers` is used to **add a logger** , for example:
[code]

And `Drash.CoreLoggers` is used for built-in loggers. The documentation doesn't actually explain this which leads to some confusion

[2020-02-18 00:43] crookse commented on #136
@ebebbington ,

Sorry. There's code in master that changes the `ConsoleLogger`'s namespace to `Drash.CoreLoggers`. It hasn't been released yet, but you were able to catch it because the documentation's example code blocks use master.

I'm going to update the docs to reflect `CoreLoggers`. Sorry for the inconvenience again!

[2020-02-19 05:48] #18 closed

[2020-02-19 19:18] ebebbington commented on #115
Can this still be picked up by someone? Might look into it myself

[2020-02-19 21:12] crookse commented on #115
@ebebbington ,

Go for it

[2020-02-19 22:27] ebebbington commented on #115
Ok cheers, I don't suppose you could give an example of a member? E.g. does this include parameters, general use variables etc etc

[2020-02-19 22:54] player-4 commented on #115
hey @ebebbington, the server is a good example of having members that need types. below is what `Drash.Http.Server` constructor looks like:

[code]

`any` is invalid and should be something like `ServerConfigs`. and that could look something like

[code]

there are a lot of places in the codebase that state `any` and they shouldn't. some methods don't even have types associated so people can pass

[2020-02-19 22:58] ebebbington commented on #115
Sonds good to me, is it worth adding types to functions that are missing them at the same time?

E.g. I've seen a few examples:

[2020-02-19 23:00] player-4 commented on #115
yes. just make sure they're justifiable. also, you might see `request: any`. don't change that. `any` is intentional because drash doesn't care what `request` object is passed in. it can be the `ServerRequest` object  from deno, or a transformed `ServerRequest` object. it doesn't and shouldn't discriminate `request` objects.

[2020-02-19 23:01] ebebbington commented on #115
Understandable, I assumed the `request` object is **way too dynamic** to type

[2020-02-20 00:37] ebebbington commented on #115
Can I just clarify if ConsoleLogger and FileLogger can use the LoggerConfigs interface?

[2020-02-20 00:42] player-4 commented on #115
yea. forgot we already had that. yea do it. and it does make sense to make them optional. off the top of my head i don't remember which configs are required.

[2020-02-20 00:43] ebebbington commented on #115
Ok ill dig deeper into it to make the interface robust

[2020-02-20 01:05] ebebbington commented on #115
Inside `src/http/server.ts`, the following property inside the ServerConfigs interface seems to throw the following when i run `deno ... tests/http/middleware_test.js`:

[code]

Seems to be, because the ServerConfig is set up like so:
*(Note how i have modified the `resources` property)*
[code]

Yet inside `tests/unit/http/middleware_test.ts`, we have the following declation to test:
*(Note the `r

[2020-02-20 01:20] player-4 commented on #115
that's strange. `members.Drash.Http.Resource` is `Drash.Http.Resource`. i would say do `any` for now and come back to it as long as the tests are still passing. `any` is not ideal, but having the other types in place put drash in a better position

[2020-02-20 01:21] player-4 commented on #115
does `ResourceWithMiddlewareHooked` extend `members.Drash.Http.Resource` ? i noticed you mentioned two different resources:

`ResourceWithMiddlewareHooked`
and
`ResourceWithMiddleware`

[2020-02-20 01:22] ebebbington commented on #115
Alright, i'll make a seperate issue soon to keep it tracked.

Actually here's some more info if it helps solving it now:
*(Note the `error` line)*
[code]

[2020-02-20 01:29] player-4 commented on #115
ok, that is strange. i see the issue, but don't know why the compiler is complaining. also, we use `console/tests` to run the tests so you don't have to test single files (unless you want to)

[2020-02-20 01:34] ebebbington commented on #115
🤦‍♂  Ok, i'm not used to having a single test file that runs all other test files :P I'll run the `test.ts` to be sure, update any changes made from the `src` dir into their respective test files, test again and should be ready to go. Though i'm going to have to raise an issue until i can test :X

[2020-02-20 01:35] ebebbington opened #138 "Mock Server Isn't Closing Before The Next One"
**Describe the bug**
A test doesn't seem to close the mock server, so it fails when running the next test as the address is in use, see below for the error:
[code]

It passes the first test, and fails the second, which helps confirm the server hasn't actually closed yet

**To Reproduce**
Steps to reproduce the behavior:

1. Cd into the root directory
2. Run the following command:
`deno test --allo

[2020-02-20 01:38] crookse commented on #115
That's something I implemented when I first started Drash and saw the testing deno_std module. However, I might make an issue that gets away from using `console/tests` and have a script that runs `deno test` or a file that uses `Deno.run()`. Idk. It's up in the air right now. Btw thanks for contributing! You raised some pretty good issues.

[2020-02-20 01:42] crookse commented on #138
Possibly a race condition. I just ran the tests and didn't see the error. However, I have seen this error before. I "fixed" it by changing the hostnames and ports ;P. Might be worth looking into running a single server instance for a test suite, but I like the fact that different server instances with different configs can be created for each test in a test suite.

[2020-02-20 01:43] ebebbington commented on #115
It's a good idea tbf, I usually ran every route test one by one as a full blown integration test without even thinking about having a single file to tes them all.

Happy to contribute, started making a project using Deno and Drash a few weeks ago and I got really interested into both of them

The codebase is gawjus

[2020-02-20 01:53] ebebbington commented on #138
The worst kind of bugs... is there a method on `test` to run only a single test? Like in Chai, you can do `describe.only('this is the only block that will be tested', function () { ... })`

[2020-02-20 01:54] ebebbington commented on #138
FYI should note the race condition seems to be between the tests 'server/resource: wrong CSRF token' and 'server/resource: user is not an admin', as seen below:

[code]

[2020-02-20 02:16] ebebbington commented on #115
All tests passed 🎉 Last question for clarify:

1. How would I go about recompiling the API ref page? I couldn't see anything specifically about this in the README, and I don't know if I'll be able to as I'm running Windows (have NPM installed and can get Python installed but i'm not so sure about yarn :P)

The i'll make the PR

[2020-02-20 02:29] crookse commented on #115
That's great!! The API Reference page is built using `npm run dev` in `deno-drash-docs` repo. It doesn't use yarn.

Once you've run `npm run dev`, you can launch the docs in the browser and do your checks on content. I have seen some issues raised when others have tried cloning the repo. I tried cloning the repo and ran into some issues on another computer and made a Troubleshooting section in the

[2020-02-20 03:07] player-4 commented on #138
we could look into using `await`. maybe the testing module runs tests in parallel. idk. i'll investigate.

[2020-02-20 03:16] ebebbington commented on #115
I'm having real problems trying to get the server up (environmental), had to end up getting Ubuntu SS and even then i'm getting every error in the world (NPM, watchmedo, sass, webpack :P)

Don't suppose if i push my branch up that someone can test it for me? I can tell by the errors this would be way faster

[2020-02-20 03:19] player-4 commented on #115
i can do it for you. maybe eric can merge it later and deploy the docs to the staging env and we can all do checks on content

[2020-02-20 03:26] ebebbington commented on #115
Ok cool, i'm not too sure how to approach this process though - would a cherrypick even work from a forked repo then make a PR once it's checked? Or the main repo create a temp branch for me to make a PR to?

[2020-02-20 03:29] player-4 commented on #115
we're actually in the process of switching this process up, so you're the first to give it a shot. congrats! lol

make a PR to `release/v0.33.1` branch

[2020-02-20 03:32] ebebbington commented on #115
Lol i'm honored :P

[2020-02-20 06:10] #115 closed

[2020-02-21 10:58] crookse opened #142 "Drash.Http.Server.redirect();"
Please view https://github.com/drashland/deno-drash/blob/master/DEV.md before starting.

## Summary

What: Handle redirects

Why: Currently, Drash doesn't have any type of redirect feature. Although users can send a response with a redirect status code, it'd be much more convenient if the server handled that for them.

## Acceptance Criteria

- [x] documentation on handling redirects. This should

[2020-02-21 11:02] crookse opened #143 "Cookie handling"
Please view https://github.com/drashland/deno-drash/blob/master/DEV.md before starting.

## Summary

What: Handle cookies.

Why: Cookies are part of the request-resource-response lifecycle, but the Drash server doesn't handle them yet.

## Acceptance Criteria

- [x] documentation (should be under the Misc section and it should reference https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies)
-

[2020-02-21 11:12] crookse commented on #138
This is all kinds of messed up now with `deno test` in deno v0.34.0. I just tried running the tests using `deno test` it in your branch, Jack. We need to fix the tests before we release your #141 PR. I can work with you on that, but not until this evening.

[2020-02-23 18:02] ebebbington commented on #143
I was thinking of taking this on and came to a conclusion on how this could be implemented:

The `this.request.headers.*` is always undfined so I can't try the `cookie` property (not sure how it's accessed in Drash, assuming there's another way but i'm testing in my own application that uses Drash as the Server), but the cookies come in look like a string e.g.: `cookiename=cookieval; cookiename2=c

[2020-02-23 18:15] saragee3 commented on #143
This is a good start! In additional, we definitely need to keep in mind: expiry, path, size, HTTPOnly, Secure, and SameSite properties for each cookie. Not sure if we can create sub issues, but I think it would be beneficial to break this out to not bloat this PR.

[2020-02-23 19:26] crookse commented on #143
@ebebbington / @saragee3 ,

Deno has a cookie module that we can leverage (maybe). Documentation on it is skim, but I think we can figure out how to use it sufficiently without making our own getters and setters. Also, one of the services has a parser for “key=value” strings. It turns the string into an object. We can def reuse that and make it more generic. That is unless a new method would make

[2020-02-23 19:51] crookse opened #145 "Improve version bumping workflow"
## Summary

What: Improve the workflow of bumping version numbers in the codebase.

[2020-02-24 00:11] ebebbington commented on #143
Here's the module with the cookie interface and all the docs: https://deno.land/std/http/cookie.ts

How to integrate getting and setting (assuming you still want it in the server class):
[code]

**Examples**
(Lets just say I did `document.cookie = "username=John Doe; expires=Thu, 18 Dec 2013 12:00:00 UTC";` on the client before hand)
[code]

Testing in a working Drash environment, though there doe

[2020-02-24 02:03] saragee3 commented on #143
@ebebbington nice! looks like you got a good handle on this. thanks for doing the necessary research. Regarding `getCookie`, couldn't we just access the object directly?

[code]

also, how does `forEach` work with `cookieval: string` as the second param? I'll assign it over to you! 💪

[2020-02-24 04:38] ebebbington commented on #143
Absolutely, I didn't even think about doing it that way! I'll use that approach then.

Also (i'm now doubting myself :P) `Object.keys(someObject).forEach` will provide 2 values, the property name and the property value, take the following example:
[code]

[2020-02-24 06:12] ebebbington commented on #143
Added the code locally and all works well, where do I find `api_reference.json`? And i'm worried i'm gonna have problems again building `deno-drash-docs` :/ But i'll give it another try later tonight

[2020-02-24 07:02] saragee3 commented on #143
The second param in `forEach` is the iterator.

[code]

I'm definitely not as familiar with the deno-drash-docs, but sure @crookse can help out :)

[2020-02-24 07:03] saragee3 commented on #142
Assigning this to myself. I can take a look sometime this week.

[2020-02-24 12:15] ebebbington commented on #143
I just tested it and you are correct... iI swear that was the property value when using `Object.keys()`! I've gone crazy :P

[2020-02-24 12:16] crookse commented on #143
I added a `console/build_docs` script. Run that script and the `api_reference.json` file will be written to your `/path/to/deno-drash` directory. You can take that file and make a PR to deno-drash-docs.

[2020-02-24 12:25] ebebbington commented on #143
Alright sure thing, so it'll end up being two PR's? (Cookie feature for `deno-drash` and docs update for `deno-drash-docs`)

[2020-02-24 12:28] crookse commented on #143
It doesn't have to be. I can pull your cookies PR down locally, build the `api_reference.json` file from it, and deploy the results to the staging env. It's up to you how you want to approach it.

[2020-02-24 12:36] ebebbington commented on #143
Ah ok I just checked, i'm getting confused sorry! I'll run the build script (and check it) and then make the PR later when I've got the time

[2020-02-24 14:02] crookse commented on #143
Sounds great! Also, I think it'll be easier to talk in the gitter chat. I'm pretty active on gitter, so I'll be able to see and respond to your messages about Drash almost immediately.

https://gitter.im/drashspace/community (if you prefer)

[2020-02-24 14:46] ebebbington commented on #143
Yes that would be much better to be fair, means i'm not cluttering issues

[2020-02-28 11:40] #132 closed

[2020-02-28 11:40] #133 closed

[2020-02-29 19:30] saragee3 commented on #143
Can this be closed now? @crookse @ebebbington

[2020-02-29 19:32] ebebbington commented on #143
I've yet to update the docs in deno-drash-docs, working on getting an env setup to run the repo

[2020-03-02 00:01] ebebbington commented on #138
Only way i've managed to fix tests is using this approach, by having each server running on different ports. I've seen Deno so the same in some examples but I haven't found a current file that does this (yet). Also think the problem with having a single test server instance is responses - I know in `server_test.ts`, the tests fail if the `GetUrl` and `GetBody` resources are used at the same time,

[2020-03-08 15:03] liuxiaobina opened #151 "Overall situation Anomaly capture"
How to catch the exceptions of the framework? I want to handle the exception information myself

[2020-03-08 17:27] crookse commented on #151
Hi @liuxiaobina ,

To do that, you'll have to override `Drash.Http.Server` and create your own implementations of its `run()` and `handleHttpRequestError()` methods. If you want more control, you'll want to create your own implementation of the `handleHttpRequest()` method as well.

It would look something like this:

[code]

Please take a look at the following methods' signatures before overridin

[2020-03-09 00:43] liuxiaobina commented on #151
ok，thank you

---Original---
From: "Eric Crooks"<notifications@github.com&gt;
Date: Mon, Mar 9, 2020 01:27 AM
To: "drashland/deno-drash"<deno-drash@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"liuxiaobina"<2385943935@qq.com&gt;;
Subject: Re: [drashland/deno-drash] Overall situation  Anomaly capture (#151)

Hi @liuxiaobina ,

To do that, you'll have to override Drash.Http.S

[2020-03-09 01:23] liuxiaobina opened #152 "Decorator validation support"
Whether the framework lacks a verification layer, and whether to consider supporting such writing methods as decorator pattern in the future

[2020-03-10 04:35] liuxiaobina commented on #151
error TS2540: Cannot assign to 'Server' because it is a read-only property.

► file:///Users/liu/Desktop/deno/app/app.ts:29:12

29 Drash.Http.Server = MyCustomServer;

[2020-03-10 23:17] player-4 commented on #151
@liuxiaobina, that's happening because of this:

https://github.com/drashland/deno-drash/blob/master/mod.ts#L86

`Server` is a `const`. i can change it to `let` and you should be able to reassign `Server`. stay tuned.

[2020-03-10 23:27] player-4 commented on #151
@liuxiaobina, i just released `v0.35.1`. pull that down and try reassigning `Drash.Http.Server`.

[2020-03-10 23:31] player-4 commented on #152
@liuxiaobina, we don't plan to implement a verification layer. we're leaving that up to users. also, we don't plan to implement a decorator pattern in the future because of the syntax we've chosen for resources--`GET()` = `GET`, `POST()` = `POST`, etc. we're keeping it this way because of semantics.

[2020-03-14 11:50] crookse commented on #151
@liuxiaobina,

Did it work?

[2020-03-14 11:51] liuxiaobina commented on #151
yes

---Original---
From: "Eric Crooks"<notifications@github.com&gt;
Date: Sat, Mar 14, 2020 19:50 PM
To: "drashland/deno-drash"<deno-drash@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"liuxiaobina"<2385943935@qq.com&gt;;
Subject: Re: [drashland/deno-drash] Overall situation  Anomaly capture (#151)

@liuxiaobina,

Did it work?

—
You are receiving this because you were ment

[2020-03-14 11:52] crookse commented on #151
Great! Please close this issue if you have no further questions :)

[2020-03-14 11:53] liuxiaobina commented on #151
ok. thank you

---Original---
From: "Eric Crooks"<notifications@github.com&gt;
Date: Sat, Mar 14, 2020 19:52 PM
To: "drashland/deno-drash"<deno-drash@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"liuxiaobina"<2385943935@qq.com&gt;;
Subject: Re: [drashland/deno-drash] Overall situation  Anomaly capture (#151)

Great! Please close this issue if you have no further questions :

[2020-03-14 11:56] #151 closed

[2020-03-14 12:27] #143 closed

[2020-03-19 01:28] #142 closed

[2020-03-24 09:09] eliassjogreen opened #155 "Deno v0.36.0 and v0.37.0 support"
## Summary

This is probably something already being worked on and i am probably just nagging but deno v0.36.0 and v0.37.0 support would be nice to have. Currently when i tried to upgrade the dependencies failing in the old version it failed at the following test: `missing CSRF token` and errored at the following test `wrong CSRF token` (#138). When running the example everything seemed to work fi

[2020-03-25 22:18] crookse opened #157 "Tests leaking async ops"
Check the following:

`server_test.ts`
`middleware_test.ts`
`cookie_resource.ts`

[2020-03-25 22:23] crookse commented on #155
@eliassjogreen,

It’s done!

[2020-03-25 22:23] #155 closed

[2020-03-25 22:24] crookse commented on #155
The tests have been problematic since deno v0.34.0. Not sure why. I did make another ticket though to address those issues. Everything does look fine otherwise like you said.

[2020-03-31 16:04] crookse opened #158 "Release 1.0"
Release Date: May 13, 2020
Code freeze: May 1, 2020

- [ ] E2E test app_test.ts
    - This will need to implement multiple resources that cover most (if not all) the entire [Drash Lifecycle](https://drash.land/docs/#/lifecycle-diagram)
- [x] ~Update the [Drash Lifecycle Diagram](https://drash.land/docs/#/lifecycle-diagram)~
- [x] #173 Use the `Accept` header
    - [x] Implementation
    - [x] Docu

[2020-04-09 15:44] pgg opened #159 "static_paths default or extend"
## Summary
provide a default path capability for a bare static_paths request or way to extend the resource
What: Explain ...
if a bare request is done for a configured static path ie '/app' with a default ie 'index.html' it should serve the default ie /app/index.html
Why: Explain ...
serve app with a pretty url http://domain.tld/app
## Acceptance Criteria

- explained above

## Example Pseudo Code

[2020-04-10 15:20] crookse commented on #152
I agree with @player-4. @liuxiaobina, can we close this? Or do you have a use case that you can send us so we can discuss further?

[2020-04-10 16:54] ebebbington opened #161 "Abstract the Logic that Gets View Contents"
## Summary

What: Abstract the logic that reads a view file and decodes it into a serpate method that takes a view name.

Why: Simplifies the code the user has to write, resulting i less boilerplate the user has to add. Will result in a single line of code the user has to write, instead of creating a decoder and writing that logic themselves

## Acceptance Criteria

* Logic required to return a vi

[2020-04-11 00:35] crookse commented on #161
I feel like `this.requireView` has unnecessary code. One of the reasons why Deno's import statements requires a `.ts` extension is because it doesn't take much effort to be more explicit. Granted, your code is just pseudocode, but it's something we have to think about. Saying `users/add.html` (I think) is better than `users.add` because you know the extension and you know it's in a subdirectory as

[2020-04-11 02:11] ebebbington commented on #161
Updated the issue following your comment

[2020-04-11 02:30] crookse opened #162 "Template Engine"
## Summary

What: `Drash.Compilers.TemplateEngine`

Why: Template engines are essential to building server-rendered web apps in Drash. Currently, the only template engine that works really well in Deno is dejs. However, it's a third-party module and it's up to the user to implement it. It would be nice for a template engine to already be available in Drash if the user wants to use it.

## Acceptan

[2020-04-11 04:13] #159 closed

[2020-04-11 04:24] crookse commented on #159
@pgg ,

See https://drash.land/docs/#/tutorials/misc/pretty-links

[2020-04-11 18:18] pgg opened #164 "root favicon"
**Describe the bug**
root favicon blank

**To Reproduce**
serve app with favicon.ico in root:
[code]

[2020-04-11 20:02] #164 closed

[2020-04-12 06:18] crookse opened #167 "export Drash.Interfaces.* as types"
Self explanatory

[2020-04-12 06:28] #167 closed

[2020-04-12 09:16] crookse commented on #161
Currently awaiting https://github.com/syumai/dejs/issues/40

[2020-04-12 20:20] crookse opened #169 "Virtual Paths"
## Summary

What: Implement virtual paths.

Why: It would be nice to mount `/dir` to `/some/other/dir` for filesystem flexibility. For example, if I started `/src/app.ts` with a static path of `/public`, I would have to define `/public` as `../public`. It would be nice to define it as `/public` instead.

## Acceptance Criteria

- [ ] Virtual paths can be mounted to static paths
- [ ] Tests
- [ ] D

[2020-04-13 19:02] ebebbington opened #172 "Discuss: Using Other Template Engines"
## Summary

What: Discuss on how to approach the use of other template engines. For example we found that injecting a dejs method as a renderer to support rendering for `ejs` still added a dependency to the tests which is trying to be avoided, but allowed a clean way to add the functionality.

For example:

[code]
[code]
Would still require `dejs` as a dependency in the tests to assert the correct

[2020-04-14 17:11] Guergeiro opened #173 "Accept vs Response-Content-Type"
## Discussion
Why use a custom `Response-Content-Type` header instead of the one already defined and standardized ([Accept](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1))?

[2020-04-14 17:26] crookse commented on #173
You bring up a very good point actually. So like I said in the YouTube chat, the `Response-Content-Type` header tells the server exactly what content type the user wants. I know `Accept` does the same, but it's not as explicit as they use the words, "We 'prefer' this content type, but any of the following are fine as well."

https://drash.land/docs/#/advanced-tutorials/content-negotiation/user-pro

[2020-04-14 17:47] ebebbington commented on #157
Wanna check on the server and middle ware test file:

* Has the issue been resolved in the server test? I don't see any cases commented out and run them fine

* Also was the middleware test leaking async ops for the following lines (that are commented out): `tests/unit/http/middleware_test.ts:10-32`?

Believed to have fixed the cookie one, but oddly if that test in the cookie test was uncommented

[2020-04-14 17:56] crookse commented on #173
This is an example of how the `Accept` header could be used as of right now:

[code]

[code]

[2020-04-14 17:58] Guergeiro commented on #173
In my opinion, Drash should stick to web (browser?) standards as much as possible (we are using Deno after all), even if takes a bit of stretching from a framework maintainer point of view. And since I believe this framework will be big when Deno starts to pick up, I think all these **core** components/design choices must be extensively looked over.

The first thing I envisioned was exactly what y

[2020-04-14 18:01] crookse commented on #173
I understand. I think I'm going to make it a priority to get this breaking change out before Drash v1.0.

Thanks, @Guergeiro! Really appreciate your thoughts!

[2020-04-14 18:03] Guergeiro commented on #173
That's a really good solution in my opinion. Maybe, instead needing the user to implement that, already have it done under the hood and maybe give an array with all options already parsed to the user.

[2020-04-14 18:04] Guergeiro commented on #173
From https://github.com/drashland/deno-drash/issues/173#issuecomment-613590632

Actually a `415` might be better.

[2020-04-14 18:07] crookse commented on #173
I like the 415. It seems to be the correct choice. The user supplied an unsupported content type, therefore it's a client error.

[2020-04-14 18:09] crookse commented on #157
Yea I know... it is weird. I couldn't reproduce the issue, so maybe it's been resolved ?

[2020-04-14 19:13] ebebbington commented on #173
After some brainstorming with @crookse, we may have a basic, workable and clean solution (in theory and still in the planning stage). This is all very early so allow for minor details here and there but very open to discussion and suggestions.

**Drash's Approach**
Here is what we think Drash would need to implement, to move over to the `Accept` header

1. A new `accepts` method on `Drash.Http.Req

[2020-04-14 19:18] ebebbington commented on #157
I guess so? i neither you or me can

Ok is it cool if i uncomment that specific test in middleware and the cookie one too? then i can push it up as a fix

[2020-04-14 20:43] Guergeiro commented on #173
From https://github.com/drashland/deno-drash/issues/173#issuecomment-613630617

I don't find it bad in anyway. The developer needs to understand that, if they want to join implementations, they can pass an *array* and implement the functionality. Otherwise, just be explicit and do it one by one.

Here I think an *regex* before `split(";")` to remove in between *spaces* is required (not sure though

[2020-04-14 20:51] #157 closed

[2020-04-14 21:08] crookse commented on #173
I still can't wrap my head around what the client would actually want first unless we have a `request.acceptsFirst()` or something. Let's say the client passes in the following:

[code]

If in the resource `this.request.accepts("application/json")` is called, then that would resolve to `true`, and the resource would return a JSON response; but the first acceptable content type is `text/html`.

[2020-04-14 21:52] Guergeiro commented on #173
From https://github.com/drashland/deno-drash/issues/173#issuecomment-613682348

Well, then we need to invert the dependencies... Using your [example](https://github.com/drashland/deno-drash/issues/173#issuecomment-613589659) might work.
[code]

[2020-04-14 22:06] Guergeiro commented on #173
Now this might be a bit hardcoded and hard to maintain in really big projects (but maybe that's what *A REST microframework for Deno* is).

A solution to this could be some sort of implementation using TypeScript decorators (just giving some random thoughts).
[code]
Something like this. Don't know, but seems clean.

[2020-04-14 22:27] #161 closed

[2020-04-14 22:36] crookse commented on #173
I like the first approach better. I'm picky about Drash's syntax and decorators have been a no since day 1. You're right though. **_Return at the first one found._**

@ebebbington , you got that? ;)

[2020-04-14 22:41] crookse commented on #173
Btw thanks for your help on this @Guergeiro

[2020-04-14 22:54] Guergeiro commented on #173
From https://github.com/drashland/deno-drash/issues/173#issuecomment-613714909

Do you have a reason for that? Because you might need to consider them in the future (depending how Drash evolves of course).

The problem with this approach is that you delegate the work to the developer, whereas with *decorators* that could've been done by the framework. But again, if you look at ExpressJS from Node

[2020-04-14 22:56] Guergeiro commented on #173
From https://github.com/drashland/deno-drash/issues/173#issuecomment-613716296

No worries. I won't PR anything because Deno is not v1.0 yet. In the future, I'm looking forward to help more intensively. For now, I'll just lurk in the issues/docs 😉

[2020-04-15 10:06] crookse opened #175 "import { Drash } instead of import Drash"
## Summary

What:

[code]

Why:

- Drash in its current form doesn't work with `deno doc`.
- To export Drash from a `deps.ts` file, you need to do the following:
[code]

## Acceptance Criteria

- [x] Drash works with deno doc
- [x] Update documentation
- [x] Update tests

[2020-04-15 10:54] crookse commented on #152
So there have been some discussions around decorators in discord. Using decorators for middleware seems to be a good solution. I will be writing that issue today.

[2020-04-15 10:57] crookse opened #176 "Support decorators for middleware in resources"
## Summary

What: Support decorators for middleware in resources.

Why: Currently, you define middleware in the resources using the resources' `middleware` property. It would be nice to define middleware using decorators and attaching those decorators to each HTTP method (if they require middleware).

## Acceptance Criteria

- [ ] Update documentation
- [x] Update tests
- [x] Decorators can be use

[2020-04-15 11:09] crookse opened #177 "Regex path routing not working as expected"
**Describe the bug**
[code]

This will only work if you order your resources Info then Api in the server config. For example,

[code]

If you order `ApiResource` then `InfoResource`, a `GET` to `/api/info` will go to `ApiResource`

** Expected Behavior **

A `GET` to `/api/info` should go to `InfoResource` regardless of where `InfoResource` is defined in the server configs.

[2020-04-15 11:11] Guergeiro commented on #176
I like it. How will you do decorators?
[code]
[code]

[2020-04-15 11:13] crookse commented on #176
@Guergeiro,

Probably the second approach with the array

[2020-04-15 11:20] crookse commented on #177
Right now, when resources are registered, the server doesn't check if a URI has already been defined. So in the case of regex path routing, `api/:id` will match `api/info` even though `api/info` was defined in another resource. What can happen instead is the `addHttpResources()` method checks first if the URI was already defined in another resource to make sure URIs don't step on each other. Like:

[2020-04-15 11:30] crookse commented on #175
For the time being, `export { Drash as default } from "url";` should be used.

[2020-04-15 15:58] ebebbington commented on #173
@crookse @Guergeiro So would we want the `accepts` method to return the matched type or a boolean? Guess this really only affects the *developer*, and which one would be better suited

Assume the request only accepts application/json:
[code]

[2020-04-15 16:03] crookse commented on #173
I say the matched type

[2020-04-15 16:04] ebebbington commented on #173
Makes sense to be honest, i might think of returning false then if none were found as we will be returning the content type of data type `string`

[2020-04-15 16:19] Guergeiro commented on #173
Matched type would be better. And as `return` value, I wouldn't mind a `null`. It will fall under an `else` statement either way.

[2020-04-15 20:26] ebebbington commented on #138
@crookse Isn't this 'technicallly' solved now? In the sense Drash's test don't have this error anymore due to the restructure of the tests? Just wondering if it could be closed now

[2020-04-15 21:21] #173 closed

[2020-04-15 23:57] crookse commented on #177
`Drash.Http.Server.addHttpResource()` is the method to check

[2020-04-16 02:24] #175 closed

[2020-04-16 02:24] #162 closed

[2020-04-16 02:25] crookse commented on #138
@ebebbington , that seems to be the case. Closing this. Thanks!

[2020-04-16 02:25] #138 closed

[2020-04-16 04:31] ebebbington commented on #152
https://github.com/drashland/deno-drash/issues/176

[2020-04-16 04:39] ebebbington commented on #17
Just to clarify on a few things, they are probably know but just showing my findings:

* ETag header is a hash of a single string, now maybe this could be `this.request.route_path + this.request.method` (`response.ts` constructor)

* There doesn't seem to be a native method or Deno implementation for MD5 algo (which the Etag requires). I found a 3rd party one on Deno.land but the documentation is

[2020-04-16 11:09] crookse commented on #17
In Drash's DigitalOcean setup, the following benchmarks were received compared to Express:

Express

[code]

Drash

[code]

Both frameworks seem to share the same performance. The benchmark tool tested the "Hello World!" applications of both frameworks.

[2020-04-16 23:21] ebebbington opened #182 "create-app Script"
## Summary

***Inspiration came from [Dinja](https://github.com/denjucks/dinja)***

What: Create a `create-app` script that allows a user to create a basic file structure from the CLI, that would also write content into those files. Can include a structure for an API or Web app

Why: It'll be a neat feature for a user to do. Similar to how React and Angular do as well, to quickly create a basic st

[2020-04-18 05:10] crookse opened #183 "Support HTTPS"
## Summary

What: Support HTTPS

Why: HTTPS is available in deno so we should support it.

## Acceptance Criteria

- [x] A Drash app can be started using HTTPS
- [x] `server.run()` uses `HTTPOptions` as argument
- [x] `server.runTLS()` uses `HTTPSOptions` as argument
- [x] Documentation
- [x] Tests

## Example Pseudo Code (for implementation)

[code]

[code]

[code]

[2020-04-18 22:18] crookse opened #187 "Agnostic source code"
Just making a placeholder issue for right now. I'll fill this in when I have some time.

## Summary

What: The codebase should have no knowledge of what runtime is being used.

Why: This makes it easier to port to other JavaScript runtimes (e.g., Node).

## Acceptance Criteria

- [ ] All Deno.{someMember} come from `deps.ts`

## Example Pseudo Code (for implementation)

[code]

[2020-04-19 10:56] dylanblokhuis opened #188 "asynchronous middleware"
**Describe the bug**
Whenever the run() method is asynchronous, the exceptions are uncaught.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a middleware class
2. Add the async keyword to the run() method.
3. Try out the middleware and cause an exception with HttpException or HttpMiddlewareException
4. See error in console

It could be that asynchronous middleware are not a good patt

[2020-04-19 12:19] crookse commented on #188
We're actually in the middle of refactoring our middleware. I will let the developers working on the refactor know that `async-await` should be accounted for. Thanks @dylanblokhuis !

[2020-04-19 12:19] crookse commented on #188
Hey @Guergeiro / @ebebbington,

We need to make sure `async-await` works with the new middleware stuff.

[2020-04-19 12:20] dylanblokhuis commented on #188
Thanks for the response, I've been having a blast using drash. Keep it up!

[2020-04-19 12:20] #188 closed

[2020-04-19 12:21] crookse commented on #188
You're welcome! And thank you! Very much appreciated :)

[2020-04-19 12:46] #183 closed

[2020-04-20 01:15] #187 closed

[2020-04-20 04:23] alexjamesmalcolm opened #194 "Support for HTTP Method OPTIONS"
## Summary

What: It appears that Drash doesn't handle HTTP requests of method `OPTION` and also does not allow for a way to override them.

Why: This is important regarding CORS. My scenario is my frontend is hosted on a different port than my backend so I have to deal with CORS locally but not in production. Regardless, for those dealing with CORS, since `OPTION` is not implemented a Response of

[2020-04-20 04:24] alexjamesmalcolm commented on #120
@crookse Would `deno bundle` fit your needs?

[2020-04-20 04:29] alexjamesmalcolm commented on #194
🤦 Wow, simple problem of thinking the HTTP method was called `OPTION` and not `OPTIONS`. I still think there's merit in creating a default implementation of a response to `OPTIONS` requests with a list of `Allow`ed methods.

[2020-04-20 10:40] crookse commented on #194
Are you saying the `Response` class should implement a way to set the status code to `200` and the `Allow` header to `GET,POST,PUT,DELETE,OPTION` for `OPTIONS` requests?

[2020-04-20 14:08] alexjamesmalcolm commented on #194
I'd like to have a default implementation of an `OPTIONS` request handler. The user (developer) could always override this for their own purposes.

So this is what my `OPTIONS` method looks like:
[code]
If you want to see the above code in context here's a [link](https://github.com/alexjamesmalcolm/bid-euchre-http-game-engine/blob/master/resources/GameResource.ts).

That's alright in a pinch but i

[2020-04-21 12:02] crookse opened #196 "expose server.port"
## Summary

What: Expose `server.port`

Why: Self explanatory

## Acceptance Criteria

- [x] `server.port` is accessible

## Example Pseudo Code (for implementation)

[code]

[2020-04-21 13:44] pgg opened #197 "expose drash version"
## Summary

What: expose drash version

Why: runtime info

## Acceptance Criteria

- version available in Drash namespace

## Example Pseudo Code (for implementation)

[code]

[2020-04-21 20:19] Guergeiro commented on #194
I'm not sure if providing a default implementation of `OPTIONS` is that important. From my point of view the developer should have full control over this, specially because of *CORS*. Imagine providing a vulnerability because we added default implementation of `OPTIONS`.

Either way, if @crookse thinks it's good, just assign me to this issue.

[2020-04-22 10:12] #196 closed

[2020-04-22 10:39] #176 closed

[2020-04-22 12:06] crookse opened #199 "optional await on server.run()"
## Summary

What: Implement logic so that the following syntax works:

[code]

This requires `run()` and `runTLS()` to use an [IIFE](https://developer.mozilla.org/en-US/docs/Glossary/IIFE) when awaiting for requests from the Deno server.

Benchmarks were initially run on the implementation below and there was a small performance gain. Around ~2k req/sec gain.

Why: Syntax allows for cleaner implem

[2020-04-22 12:21] Guergeiro commented on #199
I agree with it. While in my testing environment, sometimes it happened that I curl(ed) faster than the server start.

[2020-04-22 19:03] player-4 commented on #194
@alexjamesmalcolm,

what you could do is extend `Drash.Http.Resource` and use your extended class instead. here's an example.

[code]

if you dont want to keep importing your `MyBaseResource` class in every resource file that you create, then you can replace `Drash.Http.Resource` with your class. here's an example.

[code]

[2020-04-22 19:09] Guergeiro commented on #194
Agreed @player-4

[2020-04-22 22:59] Guergeiro opened #200 "Standardize Middlewares"
## Summary

What: Make server level middleware accept functions and drop current implementation.

Why: Keeping a standard for all middlewares (see #186).

## Acceptance Criteria

- [x] Implement functionality for server handling
- [x] Make it asynchronous
- [x] Update tests (if necessary)

## Example Pseudo Code (for implementation)

[code]

[2020-04-23 00:32] crookse commented on #194
@alexjamesmalcolm, does @player-4 address your issue? Please let us know. Thanks!

[2020-04-23 00:37] #199 closed

[2020-04-23 20:52] alexjamesmalcolm commented on #194
@crookse Yes it should, I'll have to come up with a way to get `(method: string) => typeof this[method] === "function"` to work but I should be good. Feel free to close or leave open this ticket depending on if you want to go in that direction.

[2020-04-23 22:20] #200 closed

[2020-04-24 16:09] Guergeiro commented on #194
Hello @alexjamesmalcolm. You can't use the `this[method]` since `this` is referencing a Resource and there are no methods available there (unless you access prototype).

Here's what you should do.

[code]

This way, when I client ask for the `OPTIONS` in **any** of your resources, the server replies with the allowed methods. If you want to override the *MyBaseResource* implementation of `OPTIONS`,

[2020-04-24 16:09] #194 closed

[2020-04-24 23:32] #197 closed

[2020-04-26 02:23] crookse commented on #120
@alexjamesmalcolm, it would, but we have some `Deno` calls in the codebase and those should be taken out before this becomes a real thing.

[2020-04-28 15:21] player-4 commented on #152
decorators were implemented. see #176

[2020-04-28 15:21] #152 closed

[2020-05-09 17:57] mrtycjan opened #209 "Cannot resolve extension with mediaType "Json""
Issue type:

[ ] question
[x ] bug report
[ ] feature request
[ ] documentation issue

main.ts
[code]
when i run

`deno  run --allow-net  main.ts`

result in console is

[code]

[2020-05-09 18:02] Guergeiro commented on #209
Hello @mrtycjan

It seems you're using a version of Drash that is not compatible with Deno `v1.0.0rc1`.

Please either update Drash to `v1.0.0rc1` or downgrade your version of Deno.

I'll be waiting for your response.

[2020-05-09 18:06] Guergeiro commented on #209
To update Drash you can just download the latest [release](https://github.com/drashland/deno-drash/releases). To downgrade Deno, please refer to their [install](https://github.com/denoland/deno_install) instructions.

[2020-05-10 19:20] Guergeiro commented on #209
I'm going to close this issue by assuming that @mrtycjan was able to solve the problem.

[2020-05-10 19:20] #209 closed

[2020-05-12 22:35] mrtycjan commented on #209
@Guergeiro thanks, works fine with newest deno version

[2020-05-17 09:45] Guergeiro opened #214 "Resource level middleware not working"
**Describe the bug**
Decorators middleware are not working as of TypeScript 3.9.

**To Reproduce**
Steps to reproduce the behavior:

1. Update to latest Deno/Drash release
2. Create a [boiler app](https://github.com/drashland/deno-drash/blob/master/README.md#quick-start)
3. Add [resource decorators](https://drash.land/docs/#/tutorials/middleware/adding-resource-level-middleware)
4. Try to run the

[2020-05-19 13:02] #214 closed

[2020-05-20 12:20] ebebbington commented on #177
Honestly, i'd argue that this isn't necessarily a bug after delving into it a bit. Maybe it's the example given, but in the example, the info resource has no route for /api/info, and although it is an 'info' resource, that isn't *actually a route match*. And I think `/api/?` matching `/api/info` is actually the best match out of them all

[2020-05-20 12:22] ebebbington commented on #177
Actually I have just tested, and even with `/api/info` in the Info resource, `ApiResource`is the once that gets matched

Will try to figure out the best approach but i think it might come down to checking if there is an exact match before a regex match

[2020-05-20 12:31] Guergeiro commented on #177
This is the answer in my opinion. We try to match using exact match and, only after iterating over all of them, we try to match against regex.

The problem is we might give up on performance because of this. Just something to keep in mind.

[2020-05-20 14:15] ebebbington commented on #177
Reckon i've got a fix for it which i'll keep on hold for the time being but I still don't see that it's a bug, for example if the `Info` resource had `/api/info` but the route matched the `Api` resource then i could understand it being a bug

Wondering what you're thoughts are @crookse

[2020-05-20 14:55] Guergeiro commented on #177
It's not exactly a bug, but a design mistake, maybe. The example is straight forward for me, if you have a more specific path, it should come first and regex after.

`api/path/` should have priority over `api/(anything that comes here, including the possibility of path)`

[2020-05-20 15:31] #158 closed

[2020-05-25 13:24] #182 closed

[2020-05-25 23:24] douglaschalegre opened #221 "More details on how to add resources"
## Summary
Add multiple resources implementation on [Creating a resource](https://drash.land/docs/#/tutorials/resources/creating-a-resource)

I was just following the tutorial and had a trouble to findout how to add multiple resources to the server.

## Example Pseudo Code (for implementation)
When on [Path Params](https://drash.land/docs/#/tutorials/resources/creating-a-resource#path-params) we'r

[2020-05-25 23:27] douglaschalegre commented on #221
I dont know why but i cant add a doc label on this

[2020-05-25 23:31] Guergeiro commented on #221
Hello @douglaschalegre, thanks for your input. We will look into it.

Do you have any other question that might not be straight forward via our docs?

[2020-05-25 23:44] douglaschalegre commented on #221
Hi @Guergeiro , for now no, i dont have

[2020-05-27 22:45] devYusuf opened #222 "Where can we Host Deno/Drash Website with mongodb support?"

[2020-05-28 08:51] Guergeiro commented on #222
Hello @devYusuf. I don't believe this is a question related to Drash. You should try to find help in other places. Maybe if you start with Deno [discord channel](https://discord.gg/deno), under the `#help` channel.

To help you a bit, I believe that any provider that accepts deployments via Docker containers and/or allows you to have a VM, should work out of the box. As far as direct deployments w

[2020-05-28 10:08] #222 closed

[2020-05-28 17:53] haverzard opened #223 "Server crashed when an error occurred"
**Describe the bug**
An error that can occur inside handleHttpRequest method is not caught by the try-catch block in Server.run method.

**To Reproduce**
1. Update to latest Deno/Drash release.
2. Create simple server with a resource that can accept body data.
3. Send invalid json data (for example '.') to the resource.
4. An error will occur and the server will crash.

**Expected behavior**
The e

[2020-05-28 18:02] Guergeiro commented on #223
Hello @haverzard

Thanks for your feedback. We will look into it and come back to it as soon as possible.

[2020-05-28 20:21] Guergeiro commented on #223
@haverzard could you paste a code of your example? That way I can specifically target it and also try to find similar behaviours.

[2020-05-29 02:32] haverzard commented on #223
Here is the code example:

    import { Drash } from "https://deno.land/x/drash@v1.0.2/mod.ts";

    class HomeResource extends Drash.Http.Resource {
      static paths = ["/"];

      public async GET() {
        await new Promise(r => setTimeout(r, 10000));
        this.response.body = "Hello world!";
        return this.response;
      }

      public POST() {
        const param = this.request

[2020-05-29 02:54] crookse commented on #223
@Guergeiro,

Check here: https://github.com/drashland/deno-drash/blob/master/src/services/http_request_service.ts#L507-L510

[2020-05-29 02:55] crookse commented on #223
We're parsing JSON assuming the JSON is correct and getting this error:

[code]

That blows up the application completely.

[2020-05-29 19:33] #223 closed

[2020-05-29 23:53] crookse commented on #221
Hi @douglaschalegre ,

We're currently having issues generating our docs, so we have to resolve that issue before regenerating our docs. Our docs use an unstable Deno API (walkSync) and it only works sometimes (I don't know what causes it to work), but I will regenerate the docs with updated and clearer information as soon as I can. Thank you for input though. Greatly appreciated!

[2020-05-30 01:58] ebebbington commented on #169
Wonder if the following might be better? Only scenario i can think of where it wouldnt be is if a dev  has no need to mount a static path

[code]

Just feel along with the `static_paths`, the `static_paths_mounting` might be a bit uneccesary? Though i get it probably adds more customisation, and my approach above means you have to add a mount **for each path** - might be a crappy approach then

[2020-05-30 02:03] crookse commented on #169
Yea idk how i feel about the mount for each path. Seems to bloat the code even if the user doesn't want to add mount paths.

[2020-05-30 10:30] Guergeiro commented on #169
I don't know what this adds to be honest. We could do just for the sake of doing it but, in my opinion, is a feature is not required and just gives us one more thing to maintain.

For example, if I was a developer, I would most likely use a symlink to the directory. This is something that exists at OS level, in every OS. Using the example, if I wanted `/dir` to also represent `/some/other/dir` I w

[2020-05-30 10:31] crookse commented on #223
Hi @haverzard,

The issue is fixed and the fix is released. Use the following:

[code]

[2020-05-30 10:52] crookse commented on #169
It gives you more control over how your filesystem is structured and secured and prevents users from understanding your filesystem. Say you have the following filesystem structure:

[code]

You would serve your app like this:

[code]

A request to `yourdomain.com/public` would map to `/var/www/public`. If you don't want user's to know that `/public` is served from your project's root directory, th

[2020-05-30 11:06] Guergeiro commented on #169
I see what you mean. Though this almost feels like it should be handled in the Apache/NGINX configuration.

Let me try to understand, you want to serve static files from `/public`. The problem is that when you access the website it is served under `youdomain.com/public`?

[2020-05-30 11:10] crookse commented on #169
Yea. And what if you don’t want to serve / instead of /public? That means users will have access to your projects root directory and can read your src files. Because they could go to yourdomain.com/src/sometime.ts since you’ve allowed / to be public as a static path

[2020-05-30 11:28] Guergeiro commented on #169
Okay, I understand now. Though I think we might be overcomplicating the things. I don't know the best way to solve this. In my opinion, we should solve this by also passing some kind of url.

[code]

This would map:
- `yourdomain.com` => `/public1`
- `yourdomain.com/img` => `/public2`

[2020-05-30 11:29] crookse commented on #169
So are you saying we should just default to having virtual paths as Ed said?

[2020-05-30 11:34] Guergeiro commented on #169
Yes. ExpressJS/KOA also does like that (and I use a lot of ExpressJS/KOA in Node). I believe it's the best option honestly...

[2020-05-30 11:35] crookse commented on #169
Ok well if it's known by the JS community then yea we shouldn't really worry about it too much and just implement it the way people are used to

[2020-05-30 11:39] crookse commented on #169
To make sure we're backwards compatible, we need to implement the following syntax:

[code]

When we parse if a request is for a static path, then we'll check to see if they match either a string in the array or an object's value. Thoughts?

[2020-05-30 11:46] Guergeiro commented on #169
In my  opinion, when we pass only the object, it should default to `/`.

[code]

This would map:
- `yourdomain.com` => `/public`

[2020-05-30 12:28] ebebbington commented on #169
As we've seen though, you don't even need to use Apache or Nginx with Drash

[2020-05-30 13:06] ebebbington commented on #177
Would anyone actually have their reosurces setup like this? Because surely if someone wanted `/api/info` as a route, then `/api/info` would be defined in the paths of a resource

[2020-05-30 14:37] crookse commented on #177
@pgg set up his resource like that lol and found this issue

[2020-05-31 19:38] ebebbington commented on #177
Lol ok :P Well the 'fix' i thought i had isn't actually working when going back to re-test it, and i don't really know how to implement it cleanly or implement it at all because personally, i don't understand how this would be a feature, but regardless, i've tried to fix the issue.

The regex match (inside `Drash.Http.Server#getResourceClass`) can be matched before a check for `/api/info` and `/ap

[2020-05-31 20:32] ebebbington commented on #120
I'll look into it and see if all the `Deno` calls can be replaced and still have the same functionality

[2020-05-31 20:56] ebebbington commented on #120
I don't think it's possible at this stage, the reading of files can be modified, but there doesn't seem to be an alternative to writing **and appending** to a file without `Deno.write...`. We would also have to use the `--unstable` flag as we are using the `fs` std module.

Along with this, I don't believe a `Reader` interface is exposed outside of `Deno.Reader` (this is used in Drash)

[2020-05-31 21:03] ebebbington opened #226 "Add deno fmt --check to PR Process"
## Summary

What: Make the CI run a `deno fmt --check` on pull requests, as part of the build. An additional optional requirement could be to check for any usages of `//deno-fmt-ignore`, and fail if any are found

Why: To make sure all modifications made in the commits are following the Deno coding guidelines, and enforcing the user to run `deno fmt` as a commit

## Acceptance Criteria

- [ ] Add

[2020-06-01 08:54] ebebbington commented on #120
Actually, it might be doable

@crookse How do you feel about our tests having to use the `--unstable` flag, as well as a user having to use the same flag if they import and use Drash?

[2020-06-01 10:36] crookse commented on #120
Using in the tests is fine. Not when importing and using drash

[2020-06-01 11:02] ebebbington commented on #120
Fair enough, well because the `fs` std needs the unstable flag, a user will have to use it as well when using Drash. Just waiting until fs no longer needs `--unstable`

FYI for when that happens to whoever works on this:

* all `Deno.readFileSync` can be replaced with `readFileStrSync` from the `fs` module. All tests pass when doing this but i'm not 100% confident everything would work (maybe furt

[2020-06-01 11:42] crookse commented on #120
What we could do to get this somewhat started is take out all the deno calls and export them from a system.ts file. Then if someone wanted to use drash with a different JS runtime or import parts of Drash into their non-Deno project, they can change the Deno calls in system.ts to whatever works for them

[2020-06-01 11:51] Guergeiro commented on #120
Why don't we just use the TS compiler? Just need to change the module from `commonjs` to `esnext`.

This outputs JavaScript files like in the web with the correct `import` statements.

[2020-06-01 16:54] ebebbington commented on #120
You mean using `tsc` from NPM?

[2020-06-02 00:15] ebebbington commented on #120
Means we'd have to have `node_modules` and `package.json` in a Deno project and Drash 😬 Though Eric might be ok with that idk

[2020-06-02 07:55] Guergeiro commented on #120
We don't need. As far as I'm aware, you can install typescript globally and run it. And honestly, I think it should only be done for release versions, that is, have some kind of CI (if possible) to convert it. This means that you can import `mod.ts` or `mod.js`.

Otherwise we would be reinventing the wheel (in a bad way probably).

[2020-06-02 08:11] Guergeiro commented on #120
Also I already said to @crookse that I don't see the benefit of doing this but, if we still want to do it, I suggest the use of TypeScript compiler or `deno bundle`.

[2020-06-02 08:16] #226 closed

[2020-06-03 09:27] ebebbington commented on #17
@crookse The two tests for each framework: is one for using the ETag header and one isn't? If so it is a dramatic decrease in speed :/

Though i believe Deno has the correct hashing algo's now to aid in this (which I know aren't needed)

[2020-06-03 11:15] crookse commented on #17
@ebebbington no that was just using a reverse proxy with varying number of connections. Use of the etag header should be optional via server config

[2020-06-03 11:18] crookse commented on #17
Thinking about it now.... This could probably be solved by middleware. The middleware could check if the header exists and compare the header against the response. If they match then the middleware returns a 304

[2020-06-03 12:46] Lonniebiz commented on #177
For performance sake cache all exact match routes into a [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map). You could have 100,000 routes and the lookup time would be instant via `map.get()`. Map is the [fastest](https://stackoverflow.com/questions/34328136/are-javascript-map-objects-indexed-to-optimize-map-get) way.

[2020-06-05 17:00] ebebbington opened #228 "CI To Check for New Deno Versions"
Placeholder issue until more information is gathered around this new feature

## Summary
As quoted by @Guergeiro:

What: Explain ...

Why: Explain ...

## Acceptance Criteria

- Add acceptance criteria as bulleted list

## Example Pseudo Code (for implementation)

[code]

[2020-06-06 09:43] devYusuf opened #229 "Session Support"
I think it's a nice idea to have session implementation in Drash

[2020-06-06 16:16] crookse commented on #221
Hey @douglaschalegre , I've rewritten the docs. https://drash.land/docs/#/tutorials/resources/creating-a-resource

It immediately tells you how to add multiple resources; and the examples only use the `HomeResource`, so it's easier to follow along. Let me know if this is a good rewrite. If not, I'd like your feedback and will rewrite again. Thanks!

[2020-06-06 23:02] douglaschalegre commented on #221
Hi @crookse, the new docs it's awesome even better then i've sugested.

Thanks :)

[2020-06-06 23:43] crookse commented on #221
@douglaschalegre,

Great! And thank you for your feedback! Please don't hesitate to let us know if other parts of our documentation needs more clarity.

[2020-06-06 23:43] #221 closed

[2020-06-07 18:00] ebebbington commented on #228
Anyone have knowledge on how the CI could achieve this? Or experience with this type of process in the CI

[2020-06-07 18:34] Guergeiro commented on #228
I do 😄

[2020-06-07 18:49] ebebbington commented on #228
This issue has you're name all over it then :D

[2020-06-08 02:23] crookse commented on #229
Hi @devYusuf, i've made the issue here: https://github.com/drashland/deno-drash-middleware/issues/5. This can be part of the middleware repo.

[2020-06-08 02:23] #229 closed

[2020-06-08 10:34] ebebbington opened #232 "Assert stdout and stderr for Create App Tests"
## Summary

What: Expand upon the current create app tests to not only stop bloating the shell that the tests are ran in, but to assert the stdout and stderr response for running this script, for each test.

Why: Because this script is CLI based, there is a lot of information given, be it stdout or stderr. It would improve the testing if we can assert the correct responses are given for the differ

[2020-06-08 23:01] #145 closed

[2020-06-08 23:01] #228 closed

[2020-06-10 21:47] ebebbington opened #242 "Create App Errors on Windows"
**Describe the bug**
Running anything remotely to do with Drash's create app script fails when on Windows.

**To Reproduce**
1. Be using a Windows machine
2. Go to your command line
3. Paste the following:

    `deno run https://deno.land/x/drash@v1.0.5/create_app.ts`
4. See error

**Expected behavior**
It should not error regardless of environment, and should display the help message.

**Suggeste

[2020-06-11 15:13] #242 closed

[2020-06-11 23:39] gabrielgrover opened #246 "Drash.HTTP.Server.getRequest() returns request without a body."
## Having an issue with Drash.HTTP.Server.getRequest()

What: When I call getRequest() and pass in a Request object I get back a Request without a body.

Why: One of the dependencies in that method calls HttpRequestService.parseBody which, in turn, calls Deno.readAll(request.body).  The body in a Request object is a readable stream and not a Reader.  It therefore Deno.readAll(request.body) returns

[2020-06-12 00:07] crookse commented on #246
This is just a guess, but I think what's happening here is you don't have the `"Content-Type": "application/json"` header set. What happens if you set that?

[2020-06-12 00:40] crookse commented on #246
Also, is there a reason why you're using Request instead of ServerRequest?

[2020-06-12 03:29] gabrielgrover commented on #246
@crookse No reason.  Where is ServerRequest defined?  Also when I add the headers I get

SyntaxError: Unexpected end of JSON input

The error is happening in this method

[code]

It is because data is an empty string when it is being parsed.  When I log request.body it is a ReadableStream.  I believe Deno.readAll takes a Reader type.

[2020-06-12 10:28] crookse commented on #246
I think what's happening is `request.body` is not encoded. I think there are more issues than that though because you're using `Request` instead of `ServerRequest`. Try the following test. It has a `mockRequest` function that you may be interested in.

[code]

[2020-06-12 16:44] gabrielgrover commented on #246
That did the trick.  Thanks a bunch @crookse!  Closing this out!

[2020-06-12 16:44] #246 closed

[2020-06-12 21:00] crookse commented on #246
np @gabrielgrover !

[2020-06-13 00:10] #232 closed

[2020-06-14 11:57] crookse opened #253 "[create_app.ts] Uncaught NotFound: File not found"
**Describe the bug**
Error being thrown when running the create_app.ts script

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

API project (with all directories) exists

**Screenshots**

![Screen Shot 2020-06-14 at 07 55 14](https://user-images.githubusercontent.com/12766301/84592571-ac35b000-ae14-11ea-8c6b-8fa818c81131.png)

[2020-06-14 12:17] crookse opened #254 "Add logging to create_app.ts"
## Summary

What: Add logging

Why: For debugging purposes and nicer output

## Acceptance Criteria

- `console.info` is used

## Example Pseudo Code (for implementation)

[code]

[2020-06-14 14:28] #254 closed

[2020-06-14 21:01] crookse opened #257 "create_app.ts failing tests"
tests fail on windows
tests fail on fetch

[2020-06-15 00:31] #253 closed

[2020-06-16 10:38] crookse commented on #172
Now that we have integration tests, I think what we can do is make separate deps files for integration tests that use third party modules. Thoughts?

[2020-06-17 11:00] crookse opened #259 "chore: clean up branches; make v1.x branch"
## Summary

What: Now that Deno has released v1.x, we should make a branch to reflect our v1.x.

Why: For documentation purposes, it'll be easier to deploy containers set to a certain branch. For example:

[code]

For development purposes, it'll be easier to support old versions.

[2020-06-18 13:52] crookse opened #260 "create_app.ts - add --with-react flag"
## Summary

What: Add `--with-react` optional flag when `--web-app` is used.

Why: Currently, we can call the `create_app.ts` script with `--web-app --with-vue`. It would be nice to have `--web-app --with-react`. The `--with-vue` option creates all necessary directories and files needed to run a Drash server with a Vue front-end. Seee how `--web-app --with-vue` works to figure out how `--web-app -

[2020-06-22 02:21] crookse opened #263 "ci - release.yml"
## Summary

What: Add a `release.yml` file to the workflows to automate releasing and to publish to places like nest.land (and others if applicable at the time this issue is being developed). Also, look into calling the twitter API to announce releases. Include calling the twitter API if auto tweeting can be done.

Why: Make the manual process of releasing and publishing automated.

[2020-06-23 00:51] ebebbington opened #264 "Make `deno lint` Pass"
## Summary

What: If you run `deno lint`, we will most likely have a whole bunch of errors. This issue to fix these errors by correctly formatting code, and abiding by Deno's standards

Why: It would be good to make sure the code follows either: Deno's best practices, coding standards, or general best practices. It's a Deno project so it makes sense to utilise their tools on making the code Deno-l

[2020-06-23 07:44] Guergeiro commented on #264
For new comers, we will only ship lint as soon as the `--unstable` flag is removed. But trying to make it work now might be a good idea since the rules will probably not change that much.

[2020-06-25 10:37] crookse opened #266 "chore: removing files no longer needed in console directory"

[2020-06-25 14:18] #266 closed

[2020-06-26 14:55] diveDylan commented on #17
Http Cache (`ETag`) is something that we indeed need in most App. Hope update for support etags

[2020-06-27 00:10] ebebbington commented on #17
@diveDylan I'm going to try work on this as a middleware at [deno-drash-middleware](https://github.com/drashland/deno-drash-middleware) when I have the chance - though I don't know if you have experience with this and wanted to write the implementation yourself inside that repo? Up to you, just thought i'd ask :)

FYI going to move this issue over to the middleware repo (link above) now but will k

[2020-06-27 00:20] ebebbington opened #559 "ETag middleware"
Original issue:  https://github.com/drashland/deno-drash/issues/17

Ported over here because @crookse decided to make it a middleware instead (which is a good call), because it means it's usuable by users, but doesn't affect drash's performance at all - win win scenario

**What**

Add a new middleware for supporting the ETag header

**Why**

* Improves caching = improves request speed
* Will not a

[2020-06-27 00:39] #257 closed

[2020-06-27 02:48] diveDylan commented on #17
@ebebbington i have no experience with this, but really want to try on this O(∩_∩)O~

[2020-06-27 12:47] ebebbington commented on #17
@diveDylan Aha me neither to be honest!:P So feel free! The issue is here: https://github.com/drashland/deno-drash-middleware/issues

I working on other stuff atm so I wouldn’t be able to start it straight away anyways, unfortunately

Just pop a comment in the issue and I’ll assign it :)

[2020-06-27 18:23] ebebbington opened #269 "getBodyFile and getBodyParam Don't Work With multipart/form-data"
**Describe the bug**
I'm making a valid request using multipart/form-data, but upon trying to get the data from a resource, it fails:

[code]
**To Reproduce**
Steps to reproduce the behavior:

Run the following app, fill out the input fields and what the logging in the console:

[code]

**Expected behavior**
We can retrieve the files and input from the body of a multipart/form-data request

**Sugg

[2020-06-27 18:24] ebebbington commented on #269
FYI i've found a fix for this, but will wait until @crookse finishes the linting issues to avoid a crap tonne of conflcits

[2020-06-27 18:31] ebebbington commented on #269
The reason why it's broken is because, `getBodyFile` calls `value`, when it should call `file`. Value grabs input, and not files For example:

[code]

Along with this, `getBodyParam` wasn't accounting for multipart form data. For example, with this fix it has the same functionality but accounts for multipart body:
[code]

[2020-06-27 20:17] gabrielgrover opened #275 "Type for request"
## Summary

What: typing for the request property that is present on Drash.Http.Resource

Why: It would be nice for users to have a type to use in helper functions that they may want to write.  It would also help code completion when building a Drash.Http.Resource

[2020-06-27 20:58] crookse opened #270 "trying to encode non-strings kills the server"
**Describe the bug**
When you have a server with a `response_output` of something other than `application/json` and respond with `this.response.body = null | true | false | undefined | some non string`, the response object tries to encode the body and dies. The error given is:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. create this app

[code]

2. run the app and make a request

[2020-06-27 21:11] crookse opened #271 "Accept header values not being considered when generating a response"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. create the following application

[code]

2. run the app
3. Go to localhost:1447 in insomnia or postman
4. Send a GET request (expected response content-type header should be application/json)
5. Send a GET request with the Accept header of text/html (expected content-type header should be text/html, but it's not)

**Expec

[2020-06-28 00:32] ebebbington commented on #270
Fix is ready to go with extra tests (see branch `issue-#270-encoding-response`), but waiting to make a PR until #264 is closed (with a PR addressing it)

[2020-06-28 01:49] #271 closed

[2020-06-28 02:19] crookse commented on #275
@gabrielgrover, see https://github.com/drashland/deno-drash/pull/274. It has `Drash.Http.Request`

[2020-06-28 12:39] ebebbington opened #276 "Create Server Middleware Interface"
## Summary

What: Create an interface for `middleware`

Why: So it can be typed for `protected middleware` in `src/http/server.ts`

## Acceptance Criteria

- [ ] Interface for middleware property

- [ ] `middleware` property docblock updated in `server.ts`

[2020-06-28 15:40] crookse opened #277 "linting - remove any in ParsedRequestBody interface"
What: Improve `ParsedRequestBody` interface by removing `any` type. See screenshot below for context about this issue.

<img width="823" alt="Screen Shot 2020-06-28 at 11 36 43" src="https://user-images.githubusercontent.com/12766301/85951859-dff3f800-b933-11ea-9ad5-ff94b6eee9f2.png">

Why: Improve the quality of the codebase.

Acceptance Criteria:

If this issue is possible to overcome:

- [ ] re

[2020-06-28 15:44] #264 closed

[2020-06-28 15:44] #275 closed

[2020-06-28 18:30] gabrielgrover opened #279 "Move resource level middleware to static props"
## Summary

What: Right now resource level middleware is done through decorators.  It would be cool if we could do this through a static prop or method we define that follows a contract of some kind.

Why: Since resources are instantiated by Drash, in order for me to do dependency injection I do the following.

[code]

Since decorators do not work on functions or inside them I am unable to use res

[2020-06-28 19:05] #270 closed

[2020-06-28 19:47] Guergeiro commented on #279
Hello @gabrielgrover, I'm finding trouble understanding your situation (maybe you could provide a snippet of what you want inject and how it would work)... Nevertheless, I can understand the use case behind defining a class middleware as a static attributes. I will talk with the dev team to check about the viability of this feature.

[2020-06-28 21:17] gabrielgrover commented on #279
@Guergeiro Thanks for the quick response! The first code snippet shows what I am trying to inject.  It is subtle, but you can see that I am exporting a function that takes in an object that is an AccountServiceRepo (an interface that I have defined).  This function then returns a class.  The methods of that class can access the object passed into the function via a closure.  I can then pass in wha

[2020-06-29 00:39] ebebbington commented on #259
Makes sense to me, i think this was in effect (well similar) quite a while back too eg

[code]
I've cleaned all my unused branches, would we just branch off of master to make `v1.0.7` (for example) when a theres a new release, then keep PR's commiting to master as usual?

[2020-06-29 08:13] #263 closed

[2020-06-29 08:15] #276 closed

[2020-06-29 20:39] crookse commented on #279
Hey @gabrielgrover, I'm still have trouble trying to figure why you need to inject the dependency the way you're doing it. I'm wondering if this would be a viable solution for you:

[code]

[code]

If not, then I would recommend that you create an extension of the `Drash.Http.Server` class. You can extend it and override the `handleHttpRequest()` method. In that method is where the resources are c

[2020-06-30 09:49] crookse opened #283 "Remove the any type from middleware logic"
What: Remove `any` from middleware logic. Use types and interfaces.

Why: Improve the quality of the codebase.

Acceptance Criteria:

If this issue is possible to overcome:

- [ ] remove `any`
- [ ] tests pass

[2020-06-30 09:50] ebebbington commented on #283
Oh wait, doesn’t the server middleware have the same “type”?

[2020-06-30 09:54] crookse commented on #283
looks to be the case

[2020-06-30 09:56] ebebbington commented on #283
Alright, well FYI for anyone who works on this issue (including me), the `server_middleware.ts` interface can be used - would just need to rename the file, interface and references to make it usable by both server and resource middleware eg naming it just “IMiddleware”

[2020-06-30 09:57] Guergeiro commented on #283
They do have the same type. The only difference is that in the implementation of the Decorators, I used `any` because the factory associated with it (TypeScript factory) is weird.

[2020-06-30 09:58] ebebbington commented on #283
Guessing there will be some weird oddities... 😰

[2020-06-30 10:00] Guergeiro commented on #283
Essentially the factory associated with [this](https://github.com/drashland/deno-drash/blob/master/src/http/middleware.ts) is the weird stuff. Make it work in class level and method level is funky.

[2020-06-30 10:02] #269 closed

[2020-06-30 14:55] gabrielgrover commented on #279
@crookse Sorry for the confusion. I don't need a dependency injection solution from you guys per se.  I was looking more for a way to define resource level middleware on the resource itself via methods.  Or a way to define resource level middleware without using decorators.

[2020-06-30 16:50] Guergeiro commented on #279
Hello again @gabrielgrover. This topic generated a lot of discussion internally.

**Short story:** We will not provide a way of defining middewares to resources using static parameters.

**Long story:**
Decorating the class itself allows us to not care about the logic of associating a middleware to the class/method. That logic is handled by the TypeScript Compiler. We only make sure that the funct

[2020-07-01 15:26] Guergeiro commented on #279
I will now close this issue. Will come back to it if needed.

[2020-07-01 15:26] #279 closed

[2020-07-03 19:24] ebebbington opened #289 "Convert JSDoc to TSDoc"
## Summary

What: Convert JSDoc blocks (though we use a mix of JSDoc and Deno's standard), to TSDoc blocks in Typescript files

Why: We primarily use TypeScript so it makes sense to use TSDoc. Types are already documented in the method/property anyways.

## Acceptance Criteria

- [ ] All doc blocks converts to TSDoc

## Example Pseudo Code (for implementation)

[code]

## Resources

TSDoc is very

[2020-07-06 10:40] crookse opened #294 "remove middleware property from Drash.Http.Resource class (no longer being used)"
<img width="805" alt="Screen Shot 2020-07-06 at 06 39 26" src="https://user-images.githubusercontent.com/12766301/86584842-84d58d00-bf53-11ea-93b9-ab4d307e17d8.png">

[2020-07-07 01:10] ebebbington opened #295 "Video Tutorial - Middleware"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash middleware (server and resource, or only one?), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the video, times of top

[2020-07-07 12:25] ebebbington opened #297 "YouTube Tutorial: Cookies"
## Summary

What: Video tutorial (acts of visual documentation) for how to use cookies within Drash (get, set, delete), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the video, times of topics, eg:

0:0

[2020-07-07 12:27] ebebbington opened #298 "Video Tutorial - Logging"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash loggers (server logger, logger middleware(?)), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the video, times of topi

[2020-07-07 12:28] ebebbington opened #299 "Video Tutorial: Template Engine"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash's template engine (rendering, creating, extending etc), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the video, time

[2020-07-07 12:29] ebebbington opened #300 "YouTube Tutorial: Serving Static Assets"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash to serve static assets (favicon, js/css), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the video, times of topics, e

[2020-07-07 12:31] ebebbington opened #301 "Video Tutorial: Regex Routing"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash regex routing (regex paths in a resource, creating one, using one), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the

[2020-07-07 12:35] ebebbington opened #302 "Video Tutorial: Handling Form URL Encoded Bodies"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash resources for `application/x-www-form-urlencoded` bodies in requests (sending fetch with that body, getting data from the body), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it wil

[2020-07-07 12:37] ebebbington opened #303 "Video Tutorial: Handling Multipart Form Data"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash to have a resource for handling multipart form data requests (setting up the client, setting up the resource, getting the body data), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content i

[2020-07-07 12:38] ebebbington opened #304 "Video Tutorial: Handling Path Params"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Drash to handle path params (sending params, getting those params), how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Could be useful to include in the description of the video

[2020-07-09 00:17] #294 closed

[2020-07-09 08:16] #289 closed

[2020-07-10 00:33] ebebbington commented on #259
So a v1.x branch was made from the v1.0.7 release - when would we merge master into it? On each release for 1.x?

[2020-07-10 09:04] Guergeiro commented on #259
Yes. We can use the same logic of the bumper workflow. We create a PR from master->v1.x.

[2020-07-10 21:15] ebebbington commented on #277
Oh I know this! Bagsies!

[2020-07-10 22:40] ebebbington opened #309 "Video Tutorial - Create App Script"
## Summary

What: Video tutorial (acts of visual documentation) for how to use Create App in Drash to create a Drash skeleton app, how it works, how to use them etc - acting as the documentation but in video form. Though it's open to whoever takes on this issue how they'd like to do the video and what content it will have.

Why: Supports visual learners, and thus creates another platform for peopl

[2020-07-12 22:30] #277 closed

[2020-07-13 01:11] crookse opened #312 "release.yml - automate tweeting new releases"
## Summary

What: Add tweeting new releases to the release.yml file

Why: Currently, tweeting new releases is done manually. It'd be nice to have this automated on release events.

[2020-07-13 16:26] Guergeiro opened #314 "Dev test"

[2020-07-13 16:26] #314 closed

[2020-07-15 01:06] crookse opened #320 "release.yml - make PR to branch v1.x on release"
## Summary

What: Our `import` statements now target the `v1.x` branch. It'd be nice to have the `release.yml` file automatically make a PR of the latest code going into the `v1.x` branch.

Why: Automation is good.

[2020-07-15 01:06] #302 closed

[2020-07-15 01:06] #300 closed

[2020-07-15 01:07] crookse commented on #259
done

[2020-07-15 01:07] #259 closed

[2020-07-15 20:32] trivikr opened #322 "Introduce node_raw and fastify benchmarks for realistic comparisons with drash"
## Summary

- Deno (latest as issue creation is v1.2.0) http server serves around 25-40% less req/sec than that of Node.js (latest as issue creation is v14.5.0) as explained in https://github.com/denoland/deno/issues/6722
- Although Express is widely popular, it's amongst the slowest Web frameworks in Node.js
Fastify benchmarks https://www.fastify.io/benchmarks/
- Drash needs to add node_raw and f

[2020-07-15 20:33] trivikr commented on #322
This suggestion came up from Reddit discussion https://www.reddit.com/r/Deno/comments/hrq37v/deno_http_server_serves_around_2540_less_reqsec/fy698bn/

[2020-07-15 21:38] ebebbington opened #561 "ResponseTime middleware"
## Summary

What:

Add response time header middleware, using http://expressjs.com/en/resources/middleware/response-time.html as inspiration

Why:

It'd be nice to track response times for different use cases. For example, testing how long it takes to receive a response from the server based on a certain request.

## Acceptance Criteria

- [ ] Develop middleware -- taking inspiration from [respons

[2020-07-16 01:36] #322 closed

[2020-07-16 01:36] crookse commented on #322
Hey @trivikr, check out https://github.com/drashland/benchmarks

[2020-07-17 09:13] ebebbington opened #566 "Sass Compiler Middleware"
## Summary

What: Develop a middleware that will compile sass, an "on-the-go sass compile". It would check if the request is for a scss file -> compile to css -> respond back with css

A unique name could be thought of as well :)

Why: A really cool idea, that i definitely see benefits for (ie the extra utility for users)

## Acceptance Criteria

Use the contributing guidelines to aid in the devel

[2020-07-17 14:10] ebebbington opened #324 "Handle Middleware In Static Assets Method"
## Summary

What: Right now, middleware (server) isn't handle in the request method for handling static assets. It is needed for features like https://github.com/drashland/deno-drash-middleware/issues/26 to be implemented

Why: As a result of https://github.com/drashland/deno-drash-middleware/issues/26, we found requests for static assets dont call any middleware

## Acceptance Criteria

- [ ] Sta

[2020-07-18 01:02] ebebbington commented on #304
Video published

[2020-07-18 01:02] #304 closed

[2020-07-18 01:02] ebebbington commented on #303
Video published

[2020-07-18 01:02] #303 closed

[2020-07-18 10:53] #324 closed

[2020-07-21 02:00] crookse opened #333 "add unit tests around MIME types"
## Summary

What: Add unit tests around MIME types. See `server_test.ts`'s `handleHttpRequestForStaticPathAsset()` test.

Why: Bug #332 occurred

## Acceptance Criteria

- [ ] Tests

[2020-07-21 11:59] pontakornth opened #336 "[Question] Why paths are array even the doc use single path?"
I can't find any doc about multiple path on same resources. The path variables are even plural.

[code]

I don't understand this.

[2020-07-21 12:13] ebebbington commented on #336
Hey @pontakornth, it's for demonstration purposes too, the paths is a string array to hold every URI that resource to handle, so you can add to it as many times as you want: `static paths = ["/([0-9]$)", "/([0-9]/[0-9]$)", ... 100 more URIs]`

Saying that though, we'll work on adding some extra docs to help clarify this

[2020-07-21 15:41] pontakornth commented on #336
@ebebbington Thank you for clarification. I was really confused then. Haha.

[2020-07-21 15:41] #336 closed

[2020-07-30 05:30] michaelachrisco opened #350 "Create Drash App on Ubuntu 20.04 error: Uncaught NotFound: No such file or directory (os error 2)"
**Describe the bug**
I attempted to use the instructions to quick start an api/vue setup as per README instructions. I was given the following error:
[code]

**To Reproduce**

1. Install deno on new Ubuntu 20.04 system via `curl -fsSL https://deno.land/x/install/install.sh | sh`
2. run `deno run --allow-read --allow-run --allow-write --allow-net https://deno.land/x/drash/create_app.ts --api`
3. Ge

[2020-07-30 08:39] ebebbington commented on #350
Hi @michaelachrisco , thanks for raising this, we'll look into it

[2020-07-30 17:51] #350 closed

[2020-07-30 17:55] michaelachrisco commented on #350
Thanks @crookse and @ebebbington! Ill take a look after work and let you know!

Should this also apply to Debian as well? Or is Ubuntu only supported for now? I noticed some hard set os values in the code.

[2020-07-30 18:00] Guergeiro commented on #350
Hello @michaelachrisco, since we are using deno it's up to the deno maintainers to make sure that their api works in all OS. But since Ubuntu is based on Debian I wouldn't worry about it.

About the hardcoded values, which ones are you skeptical about?

[2020-07-30 18:07] #333 closed

[2020-07-30 20:00] michaelachrisco commented on #350
So I took a second look at hte PR and it was on the Github Workflows, not the actual configuration! Woops...
[code]

Actual code looks fine!

[2020-07-30 20:20] ebebbington commented on #350
@michaelachrisco FYI https://github.com/drashland/deno-drash/releases/tag/v1.2.1

[2020-07-30 20:22] crookse commented on #350
@michaelachrisco,

np! You might need to run the script with the `--reload` flag btw. Let us know how it goes. Thanks for bringing this issue to our attention :)

[2020-07-31 02:50] michaelachrisco commented on #350
I can confirm its working for ubuntu 20.04 on a VM. Pop OS doesn't seem to work (deno works, just not drash). Its fine.

Thanks everyone!

[2020-08-03 18:29] Ced-Sharp opened #357 "Invalid Import, 403"
The last import in `deps.ts` tries to import `std/fmt/colors.ts` with version `v0.62.0` but that gives a 403 error.
To fix this problem the version can be changed to `0.62.0` instead (without the inicial `v` ).

[2020-08-03 18:32] Guergeiro commented on #357
Hello @Ced-Sharp. We are aware of this issue. The deno.land team dropped a bomb today that made almost every import in the ecosystem go BOOOM!
We will handle this as soon as possible and drop a new release to account for this change.

[2020-08-04 18:34] crookse commented on #357
hi @Ced-Sharp,

please pull down the latest version of drash and let us know if everything is resolved. we released v1.2.2 yesterday.

[2020-08-17 20:32] ebebbington commented on #320
Are we still having a v1.x branch with the new deno registry not allowing branches?

[2020-09-04 17:02] nebrelbug opened #366 "Add support for the Eta template engine"
## Summary

I'm the maintainer of the [Eta](https://eta.js.org) template engine, and I just released version 1.3.0, which has Deno support. I'd like to integrate Eta with Drash.

**What**: Add support for the [Eta](https://eta.js.org) template engine ([deno.land](https://deno.land/x/eta))

**Why**: Eta is written in TypeScript, very reliable, highly performant, and supports plugins. It's also ligh

[2020-09-05 13:04] Guergeiro commented on #366
Hello @nebrelbug. This seems like a good idea. I will discuss it internally.

Though the implementation will not start for now, since we will do a big restructure to the Drash codebase.

[2020-09-17 20:04] dfitzpat opened #370 "Optional args in variable paths are not parsing correctly with non-alphanumeric values"
**Describe the bug**
When a resource path is defined with an optional arg it will not match if the trailing arg value includes a non-alphanumeric character:

**To Reproduce**
Steps to reproduce the behavior:

Given the resource:
[code]

Go to the URL path: /userx/test123 => Works
Go to the URL path: /userx/test-123 => Not found

Change path to:

[code]

Go to the URL path: /userx/test123 => Works

[2020-09-18 11:55] Guergeiro commented on #366
@nebrelbug after talking to the team, we decided that we will have to postpone this to Drash v2. This new version will start to be worked on as soon as the Deno std modules become stable. But as a rule of thumb, almost every component of Drash, that is not considered a needed component to run a http server, will be striped from the core engine and added to our [middleware repo](https://github.com/

[2020-09-18 13:56] nebrelbug commented on #366
Sounds good 😃

[2020-09-28 00:19] ebebbington commented on #260
only just realised i was assigned... may as well work on it now

[2020-09-28 03:12] ebebbington opened #378 "Unable to Get Objects From `getBodyParam`"
**Describe the bug**
TSC errors whenn trying to get an object from `getBodyParam`

**To Reproduce**
[code]

**Expected behavior**
No TSC errors

**Suggested Solution(s)**
`getBodyParam` tells us it returns either a string or undefined, but using the realworld app as an example, we can get objects from a body params, which isn't supported in the `getBodyParam` method.

Maybe we could add this possi

[2020-09-28 07:12] ebebbington opened #379 "Error When Getting Body Param That Isn't Passed In"
**Describe the bug**
`Cannot read property `value` of undefined` - the error message when reading a body param with `this.getBodyParam(..)` when the body param wasn't passed in

Found during realworld app dev:

![image](https://user-images.githubusercontent.com/47337480/94401124-022f2900-0162-11eb-8f8a-a3dc1624c36f.png)

The body for the response is the error message above, and after using some ab

[2020-09-28 07:15] ebebbington commented on #379
Wait this might be an issue... frontend works fine for realworld app, but the issue is in the tests

[2020-09-28 07:24] ebebbington commented on #379
ahahah user error... i need `headers: {
    'Content-Type': "application/json"
  },` on the fetch request

[2020-09-28 07:24] #379 closed

[2020-10-02 03:34] nebrelbug commented on #366
@Guergeiro looks like Drash is making great progress!

I just thought I'd quickly point out that Drash's current template engine will go into an infinite loop with recursively nested partials, since it inlines partials at compile time.

It's a bug I had to deal with for [Squirrelly](https://squirrelly.js.org) and [Eta](https://eta.js.org). A user was using recursive partials to create a comments s

[2020-10-02 10:41] crookse commented on #366
@nebrelbug, do you think it's possible to create a middleware that can use different template engines? i ask because what i'm thinking is when we move our template engine over to the middleware repo, it would be nice to let the user choose what template engine they want to use. so drash would make it possible to use a template but also give the developers the freedom to choose which template engin

[2020-10-02 14:51] nebrelbug commented on #366
@crookse I'd love to collaborate on template engine middleware for Eta.

Express.js and several other server frameworks add a `render` method to the `response` object... does this sound like a good option? https://eta.js.org/docs/examples/express

[2020-10-02 18:40] Guergeiro commented on #366
@nebrelbug that bug should be removed in v2... It's a pity, but trying to fix it will probably do more harm than good.
About the `render` method, I don't know if this is the best approach, but could be something to consider. I will ping you when we start developing v2 (maybe you can even join on some stuff 😀).

[2020-10-02 20:29] ebebbington commented on #366
@nebrelbug we actually already have a render method, this is what can be used to render basic html files (say on a GET to /), and also the custom template files being able to pass in data to the view

Don’t think it should be a problem tbh, if a middleware can be created it should work well :)

[2020-10-02 22:16] nebrelbug commented on #366
@ebebbington yeah, I realized after I read the docs :rofl:

Sounds good.

[2020-10-03 21:14] besingamkb opened #382 "Add .getAll*() method on request object"
## Summary
https://drash.land/drash/#/tutorials/requests/handling-url-query-params
What: Nice to have a `.all()` methods or similar on the `this.request` for handling all query params.

Why: easier to handle a lot of  parameters so you can assign it on a variable..
[code]

## Acceptance Criteria
Edit by @ebebbington below:

- [x] (#396) A `getAllUrlQueryParams()` method on `Drash.Http.Request` tha

[2020-10-03 21:24] ebebbington commented on #382
I agree with this, nice one @besingamkb, i've just edited the issue description to include tests for acceptance criteria

[2020-10-05 22:03] ebebbington opened #384 "`getBodyParam` returns `null` when a param is set to `false"
**Describe the bug**
Set a body param to `false`
Retrieving it will yield `null`

**Expected behavior**
It should be false

[2020-10-05 22:04] ebebbington commented on #384
Gonna work on this as part of #378

[2020-10-05 22:05] ebebbington commented on #384
I believe that returning null should not be the case, there would be many instances where a body param might be set to false when sent to the server

[2020-10-05 23:08] ebebbington commented on #169
Why don't we go with:
[code]
And if one doesn't need to be mounted, they could just do:
[code]
And i don't think there would need to be any extra code to account for this

BUT it'd be a breaking change

[2020-10-06 00:12] crookse commented on #169
i don't think it'd be a breaking change because we can be backwards compatible right?

[2020-10-06 00:14] ebebbington commented on #169
Cause the type assigned to `Server#static_paths` would change right? so doing `static_paths = ["..."]` would throw a TSC error? maybe i'm getting stuff muddled up tho

[2020-10-06 00:26] crookse commented on #169
my thinking is (and @Guergeiro might disagree) we can keep it as an array and parse if an array element is an object. if it is then we assume the key is the virtual path and the value is the source directory.

or we could just append a type to the current typings? {current typing} | {new typing}

[2020-10-06 00:31] ebebbington commented on #169
yeah tbh i personally think that will be the best best:

* we arent adding an extra config prop (won't be bloated)
* we can still allow users to switch (or transition) between the two easily (there's a word for this but can't remember it)

and like you say, it'd just be:
[code]

[2020-10-06 11:53] Guergeiro commented on #169
I agree with this. Should be fine 😄

[2020-10-06 20:30] ebebbington commented on #297
done

[2020-10-06 20:30] #297 closed

[2020-10-07 02:20] #384 closed

[2020-10-18 14:07] ebebbington opened #395 "[cli] Drash CLI"
## Summary

What: A Drash CLI that users can use via `drash` command.

Why: It'd be nice to have a `drash` command that handles:
- Creating files
- Serving the application
- ~Testing the application~ (don't do... people should be free to use their own test CLIs)

## Acceptance Criteria

- [ ] #438 Migrate create_app.ts to be in the CLI (this should also cover `drash make app app-name` subcommand)

[2020-10-21 03:31] saragee3 commented on #395
should `create_app` script be a part of this main cli?

[2020-10-21 06:58] ebebbington commented on #395
Think so yeah, I believe that would be one of the commands?

[2020-10-22 04:22] MVEMCJSUNPE commented on #382
Can I work on the tests?

[2020-10-22 08:18] ebebbington commented on #382
Hey @MVEMCJSUNPE, to work on the tests you'll need to implement the feature - feel free to take this issue on :)

[2020-10-22 14:56] MVEMCJSUNPE commented on #382
@ebebbington I'll take this issue on then; looking at getUrlQueryParam, I don't think I'll have too much trouble with writing getAllUrlQueryParams.

[2020-10-23 02:38] crookse opened #398 "Migrate to Rhum v2"
## Summary

What: Self-explanatory

Why: Because it's better.

## Acceptance Criteria

- [ ] All tests use Rhum v2

[2020-10-23 10:25] crookse commented on #172
moving this issue to deno-drash-middleware repo

[2020-10-23 10:27] crookse commented on #366
moving to deno-drash-middleware

[2020-10-23 10:29] #378 closed

[2020-10-23 10:30] crookse commented on #320
@ebebbington, nope. closing.

[2020-10-23 10:30] #320 closed

[2020-10-23 10:36] crookse commented on #177
@Lonniebiz, i did benchmarks with lookups using different loops and a `Map`. it turned out that the `for in` loop worked faster on 1 resource than a `Map`. also, the benchmarks showed that the lookup times when using 10 resources were erratic when using `for of`, `for in`, `while`, and `Map`. there seemed to be no performance improvements between those lookups when 10 resources were supplied.

PR

[2020-10-23 10:37] crookse commented on #299
move to deno-drash-middleware

[2020-10-23 10:40] crookse commented on #395
spoke to sara, `test` subcommand doesn't make sense. if people want to add tests to drash, they can use the `rhum` cli.

[2020-10-23 10:43] crookse commented on #395
@saragee3, when you start making the `create_app` stuff, bind it to a `make:app` subcommand

[2020-10-23 10:53] crookse opened #399 "Deprecate template engine logic"
## Summary

What: Deprecate template engine logic.

Why: Template engine logic is not part of the core processes of Drash. Template engine logic will be written in the deno-drash-middleware repo.

**REMOVAL DATE: January 1, 2021**

## Acceptance Criteria

- [x] Deprecate any code using the template engine
- [x] Notify users of deprecation date. We can use the `LoggerService` to log the following i

[2020-10-23 11:31] ebebbington commented on #395
👍

[2020-10-23 13:12] Lonniebiz commented on #177
For 10 resources, who cares: everything is reasonably fast when there is only 10 things. Try 500,000+ resources. Maps scale well, while looping through an array gets slower and slower as the number and index-location of a searched-for resource increases. @crookse

Think big man! Drash will one day rule the Universe! It needs Maps.

[2020-10-23 13:21] ebebbington commented on #177
If either of us have time @crookse, we could write a script to generate like hundred of resources, using an incrementednnumber to add onto the resource name, paths, and populate the resources property in server creation, then benchmark against that? I won’t have time until later today though

@Lonniebiz by maps do you mean `.map()` or `new Map()`? Interesting though, that that’s the one that scale

[2020-10-23 15:42] Lonniebiz commented on #177
@ebebbington : I mean `new Map()`. Follow the links in my June 3rd comment.

[2020-10-23 15:43] ebebbington commented on #177
Ok cool, though as much :)

[2020-10-24 20:09] crookse commented on #177
@Lonniebiz, we're now using a Map. however, we've paired it with an index that we first search for. the index has associations between regex paths and resources. the index returns an id which is the key to a resource in the resource Map. we're also caching request URLs. if a request URL is matched to a resource, subsequent requests to that same URL will be found in around 0.014ms, whereas the firs

[2020-10-25 08:55] gaylonalfano opened #400 "[QUESTION] How to serve static files inside a mono-repo structure (project/frontend + project/backend)?"
Hello - Really enjoying the simplicity of Drash. Question regarding serving static files but in the context of a mono-repo project structure:
[code]
[code]
Per the docs (which are *fantastic*!), inside our `app.ts` we configure the `directory` to point to my Drash project (i.e., `project/backend`), and the `static_paths` property to the directories we wish to make public to the client (i.e., `proj

[2020-10-25 11:31] crookse commented on #400
@gaylonalfano , glad you like the docs! virtual paths may be what you need, but first let me investigate if there's a way to accomplish this. it's been a while since i've touched the static paths code so i don't remember if there's a way

[2020-10-25 11:35] ebebbington commented on #400
I believe we had someone ask a similar thing thing on the discord, can't remembber what the response we had was, *but* i don't think it was possible? interested to see what you find @crookse, but FYI we have an issue for the paths issue; #169

Maybe we could add this in the FAQ for drash docs

[2020-10-25 12:05] crookse commented on #400
so i was able to do it, but security is a concern with this implementation because it uses the following config:

[code]

Basically, you're giving users access to your entire `project/` and in my opinion comes with security concerns. Below is the working project if you want to test it out. I do think that we need to push out the virtual paths feature. That way you can specify exactly what director

[2020-10-25 21:35] ebebbington commented on #382
@besingamkb Can we have some confirmation on what you liked to see? Because the title and description feels very confusion, what would you like to see:
[code]

[2020-10-25 23:38] gaylonalfano commented on #400
Thank you for the speedy and detailed response! Thank you @crookse for investigating and demonstrating a potential workaround. I agree with the security concern, so for now I'll stick with the standard project folder structure. Cheers for now!

[2020-10-25 23:38] #400 closed

[2020-10-26 03:49] besingamkb commented on #382
@ebebbington i think that will work as long as we get all the data from any kind of request verb. the main point of this feature request is to make it easier for devs to access data. so instead of doing it one by one with `this.request.getBodyParam('test1')` we can do it this way.

[code]

[2020-10-26 04:22] crookse commented on #382
would the following suffice?

[code]

[2020-10-26 14:06] besingamkb commented on #382
@crookse this is what exactly I was looking

[2020-10-26 14:10] ebebbington commented on #382
@besingamkb `.all()` and `getAllUrlQueryParams()` are completely different, and in https://github.com/drashland/deno-drash/issues/382#issuecomment-716287118 you only mentioned getting all url query. params, but i think it's safe to say that this feature request is to add all defined in https://github.com/drashland/deno-drash/issues/382#issuecomment-716294626

[2020-10-26 15:40] crookse opened #402 "Throw 418 HTTP error if resources don't return responses"
## Summary

What: `Server.handleHttpRequest()` should throw 418 errors when a resource doesn't return a response object.

Why: If a resource doesn't return a response object, the request-resource-response lifecycle will continue to process and will try to get `response.status_code` even if there is no `response` object returned. This will throw the following error:

[code]

This error message isn'

[2020-10-26 17:14] besingamkb commented on #382
ohh. my bad i really didn't notice you have  `.all()` on this comment https://github.com/drashland/deno-drash/issues/382#issuecomment-716215836

[2020-10-26 18:22] ebebbington opened #403 "Address Create App Http Tests Failing For Forks"
## Summary

What: Http create app tests fail for for forks. Discuss best way to approach them

[2020-10-26 20:26] crookse opened #405 "Migrate core logic to drashland/services"
## Summary

What: Migrate core logic to drashland/services repo and consume the logic in Drash

Why: This is an intermediary step to getting to v2. v2 will only include core core logic and Drash "S" will include core logic and other features. It will be best to be able to consume modules from a single source of truth.

## Acceptance Criteria

- [ ] Migrate server class
- [ ] Migrate response class

[2020-10-26 22:53] ebebbington commented on #382
`getAllUrlQueryParams` was added in https://github.com/drashland/deno-drash/pull/396, by @MVEMCJSUNPE

[2020-10-26 22:54] MVEMCJSUNPE commented on #403
Can't we just use the environment variable "GITHUB_REPOSITORY", which returns the owner and repo in the form of a string `${owner}/{${repo}`? This way, the programmer making the pull request will have the tests run on his/her fork on his/her own repo.

[2020-10-26 23:22] ebebbington commented on #403
That might work, feel free to give it a shot :)

[2020-10-28 04:16] MVEMCJSUNPE commented on #398
Forgive me for my ignorance, but what do you mean by Rhum v2? I looked at Rhum's github, and the latest version is v1.1.4.

[2020-10-28 04:45] crookse commented on #398
Rhum has a branch that's open called rhum-cli. That's Rhum v2. We would be migrating to use rawgithub URLs and target the rhum-cli branch, or we would wait til Rhum v2 is released on Jan 1, 2021.

[2020-10-28 20:15] ebebbington opened #411 "Fix issues and PRs added to project for Forks"
Project related CI's don't work for forks

[2020-10-29 18:23] ebebbington commented on #301
done: https://www.youtube.com/watch?v=gnPqU3oL-W4&feature=youtu.be

[2020-10-29 18:23] #301 closed

[2020-10-29 19:24] ebebbington commented on #309
on hold as this will be moved under the cli

[2020-10-29 19:27] ebebbington commented on #17
I think this might work best as middleware?

[2020-10-29 19:54] crookse commented on #17
prolly

[2020-10-29 22:28] MVEMCJSUNPE commented on #312
We can use [twitter-together](https://github.com/gr2m/twitter-together) for this.

[2020-10-29 23:08] ebebbington commented on #312
@MVEMCJSUNPE nice! i think we'll look into this?

[2020-10-30 03:02] crookse opened #413 "Compile time level middleware"
## Dependents

https://github.com/drashland/deno-drash-middleware/issues/59

The above issue cannot be released until this issue issue is closed and it's code is released.

## Summary

What: Add compile-time middleware to be process data at compile time to be used at runtime.

Why: Drash has server-level middleware and resource-level middleware. Server-level and resource-level middleware are execu

[2020-10-30 21:03] ebebbington commented on #411
I forgot it was because the project is private - it's now public so should work

[2020-10-30 21:03] #411 closed

[2020-10-30 22:07] #402 closed

[2020-10-30 22:35] #403 closed

[2020-10-30 22:54] #169 closed

[2020-10-31 01:10] ebebbington commented on #370
@crookse i can't remember why i assigned you, but want me to look into it? Though i'm sure we fixed this recently?

[2020-10-31 02:08] #370 closed

[2020-10-31 02:11] #312 closed

[2020-10-31 03:37] MVEMCJSUNPE commented on #399
Does this include integration tests?

[2020-10-31 03:46] crookse commented on #399
@MVEMCJSUNPE, yup!

[2020-10-31 16:15] MVEMCJSUNPE commented on #399
@crookse Can I work on this issue?

[2020-10-31 16:16] crookse commented on #399
@MVEMCJSUNPE be our guest :)

[2020-10-31 16:16] crookse commented on #399
i assigned it to you, @MVEMCJSUNPE

[2020-10-31 16:17] MVEMCJSUNPE commented on #399
Thanks.

[2020-10-31 17:28] crookse commented on #398
actually going to put this one on hold for now. we're gonna wait until Rhum v2 is released so as not to keep rewriting tests in case the Rhum API changes.

[2020-11-01 17:37] crookse opened #426 "Middleware hook names"
## Summary

What should the middleware hook names be in v2? As a team, we realized that the middleware hook names don't make sense. For example, the `before_request` middleware hook occurs before the resource is received and not immediately before the resource's HTTP method is executed, which is where it should occur. As a result, the names of our middleware hooks don't make sense anymore.

My sug

[2020-11-01 18:41] crookse opened #427 "after_resource middleware hook"
## Summary

What:

In the request-resource-response lifecycle, we need to execute a hook that occurs right before the resource executes it's HTTP method. This hook will execute AFTER the resource has been found. Therefore, the name will be `after_resource`. Although this name might change in v2 (see #426 for that discussion).

Why:

We're in the process of ripping out the template engine logic. It

[2020-11-02 02:00] saragee3 opened #429 "[drashland/services] Migrate core loggers to drashland/services"
## Summary

What:

All core logger pieces should be migrated to the existing logger service in drashland/services.

This includes:
- core_loggers/*
- dictionaries/log_levels.ts
- interfaces/log_level_structure.ts
- interfaces/logger_configs.ts

Why:

Core loggers should be decoupled from drash. Services like Rhum use the logger service.

## Acceptance Criteria

- [ ] Tests

[2020-11-02 05:07] crookse opened #430 "[Code Removal] Drash.Compilers.TemplateEngine (Removal Date: 01-01-2021)"
## Summary

See #399 and #424 for discussions surrounding deprecation and removal of this code.

_Note to team: November 6, 2020 is a tentative date. If we happen to finish the tasks later than November 6, 2020, that's fine._

## Tasks

- [x] November 6, 2020: Merge #428 (after_resource hook)
- [x] November 6, 2020: Merge #424 (deprecate Drash.Compilers.TemplateEngine)
- [x] November 6, 2020: Merg

[2020-11-03 15:43] #427 closed

[2020-11-03 20:58] #399 closed

[2020-11-04 04:12] #413 closed

[2020-11-04 04:12] #382 closed

[2020-11-04 04:29] #260 closed

[2020-11-04 11:22] crookse commented on #120
closing. this will be covered by #405

[2020-11-04 11:22] #120 closed

[2020-11-04 11:23] crookse commented on #17
@diveDylan, i'm moving this to the middleware repository. we figure this will be best as middleware so as not to bloat the deno-drash codebase

[2020-11-04 12:12] ramonmedeiros opened #432 "Create_app is using outdate drash 1.2.3 and doesn't run"
## Summary

A clear and concise summary of the bug.

## Steps To Reproduce The Bug

1. Create API from create_app
2. Try to run

## Expected Behavior
[code]

A clear and concise description of what you expected to happen.
App run smooth

## Suggested Solution(s)

Fix import modules to use latest version

## Screenshots

If applicable, add screenshots to help explain your problem.

## Additional Co

[2020-11-04 12:12] ramonmedeiros commented on #432
Where does the create_app get the files from? I can send the PR

[2020-11-04 12:40] crookse commented on #432
@ramonmedeiros,

check the console/create_app directory

[2020-11-04 12:53] ebebbington commented on #432
I believe this is because you are using the most recent Deno version but your dependencies are out of date in your Drash dir

What’s your Deno version, and what Drash version is your Drash app running

I’m guessing this is down to the Deno version

[2020-11-04 12:59] ebebbington commented on #432
Also what Drash version were you using when you ran the update script?

[2020-11-04 14:32] crookse opened #433 "Drash v1.3.0 (Release Date: 11-05-2020)"
## Updates

- deprecate: Drash.Compilers.TemplateEngine (#424)
- feat: Add -with-react flag to create app (#377)
- feat: Throw an error if response is not correctly returned from resource (#412)
- feat: Add getAllUrlQueryParams method (#396)
- feat: Add getAll methods for header, body and path params (#404)
- feat: after_resource middleware hook (#428)
- feat: compile time middleware (#421)
- feat

[2020-11-04 18:21] MVEMCJSUNPE commented on #432
I agree with @ebebbington . This is probably on an older version of Drash. Using the command, `find . -type f -name *.ts | xargs grep 'HTTPOptions'` on Unix or the command
`gci -Recurse -Include *.ts | sls 'HTTPOptions'` on Windows Powershell, we see that HTTPOptions is used in src/http/server.ts. The import statement
[code]
imports HTTPOptions from '../../deps.ts'. And if we look at deps.ts, we s

[2020-11-04 19:31] ramonmedeiros commented on #309
I'm writing a small REST API with Drash and mongodb. I would like to implement an example using most used HTTP methods (GET, POST, PUT and DELETE). Right now I'm having a hard time with POST, related to how I parse the body as json.

I would like to make this video as soon I finish my sample application. How I can get more docs?

[2020-11-04 20:41] ebebbington commented on #309
Hey @ramonmedeiros, don’t worry about making the video yourself :) I’ll do it, and as you’ve mentioned it I can make it tonight or tomorrow, and I’ll ping you when it’s done

For full documentation, you can go to https://drash.land/dmm

If you do have any questions or any information that you don’t have to do what you need to do with your Drash application, let us know :) we’ll gladly add more doc

[2020-11-04 20:57] ebebbington commented on #309
Sorry wrong link! Try https://drash.land/drash

Note that Drash v1.3 will be put on Friday so something’s will be fixed and added and the docs will be updated too

[2020-11-05 00:01] crookse commented on #309
hi @ramonmedeiros,

sorry for the confusion. these video tutorials are meant for the Drash Land org members. there's a process that videos must go through to end up on our YouTube and that process is defined in a private area that only Drash Land org members have access to.

i'm glad you're interested in making a video though. please feel free to make one and let us know about it. we'll be more th

[2020-11-05 00:01] crookse commented on #309
closing - moving this to the private task area

[2020-11-05 00:01] #309 closed

[2020-11-05 00:01] crookse commented on #295
closing - moving this to the private task area

[2020-11-05 00:01] #295 closed

[2020-11-05 00:01] crookse commented on #298
closing - moving this to the private task area

[2020-11-05 00:01] #298 closed

[2020-11-05 00:27] ebebbington opened #434 "Create App Issues"
## Summary

- Tests fail for projects made running the create app script
- When using the react flag, no react related files or directories are created

## Steps To Reproduce The Bug

1. Run the create app with either `--api` or `--web-app`
2. Run tests
3. See tests fail
4. Removal all files and create a react project
5. See no react related files are created

## Expected Behavior

Tests should pa

[2020-11-05 02:27] crookse opened #435 "response.render() may not scale and it needs to"
## Summary

What:

Need to investigate whether or not the `response.render()` method is scalable by adding tons of resources and testing against it.

Why:

It needs to scale.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed. If the investigation shows that the `response.render()` method does NOT scale, then do the following.

- [ ] Improve `r

[2020-11-05 02:27] crookse opened #563 "Jae: response.render() may not scale and it needs to"
## Summary

What:

Need to investigate whether or not the `response.render()` method is scalable by adding tons of resources and testing against it.

Why:

It needs to scale.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed. If the investigation shows that the `response.render()` method does NOT scale, then do the following.

- [ ] Improve `r

[2020-11-05 04:19] crookse opened #437 "Clean up create_app.ts script tests"
## Summary

What:

Most of the assertions occur in one test case. They should be broken apart into their own test cases.

Why:

We should break out these assertions into their own test cases so that we can debug more easily and faster.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Refactor create_app.ts script unit tests
- [ ] Test

[2020-11-05 07:39] MVEMCJSUNPE commented on #437
Can I take on this issue?

[2020-11-05 10:43] crookse opened #438 "[cli] Migrate create_app.ts script to use drashland/services CLI service"
## Summary

What:

While fixing the create_app.ts issues (#434), I noticed that it wasn't scaling. We've already seen how the CLI service helps dmm and Rhum v2 -- allowing for subcommands to be easily added and split into their own files. We need to take the same approach with create_app.ts script.

Why:

There have been multiple issues raised/found with the create_app.ts script. It's not scaling

[2020-11-05 11:25] #434 closed

[2020-11-05 14:22] crookse commented on #433
released @ 9:22 New York time

[2020-11-05 14:22] #433 closed

[2020-11-06 00:31] crookse commented on #437
@MVEMCJSUNPE,

yea. want me to assign it to you now?

[2020-11-06 02:40] MVEMCJSUNPE commented on #437
Sure.

[2020-11-06 12:12] crookse commented on #395
@saragee3,

could you try to accomplish the following instead of what's in the description?

[code]

[2020-11-06 12:15] crookse opened #442 "[cli] serve subcommand"
## Summary

What:

`drash serve --hostname= --port=` subcommand.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write documentation
- [ ] Write unit tests
- [ ] Write integration tests

[2020-11-06 12:17] crookse opened #443 "[cli] make subcommand"
## Summary

What:

`drash make resource /path/to/resource_file.ts` subcommand

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write documentation
- [ ] Write unit tests
- [ ] Write integration tests

[2020-11-06 12:38] crookse commented on #395
@saragee3,

i updated the description and broke out this issue into separate issues

[2020-11-06 12:39] crookse commented on #432
@ramonmedeiros,

were you able to resolve your issue(s) with the mentioned solutions?

[2020-11-07 05:56] MVEMCJSUNPE commented on #437
I've been working on create_app_test_http.ts, and for some reason, create_app doesn't seem to be creating server.ts when the --api flag is given (this is the command for the third test suite), and I'm kind of having a hard time figuring out why. Running
[code]
gives the following output:
<img width="958" alt="create_app_server" src="https://user-images.githubusercontent.com/10354503/98433227-a8881

[2020-11-07 23:03] crookse commented on #426
closing. moving to private discussion area

[2020-11-07 23:03] #426 closed

[2020-11-08 00:34] saragee3 commented on #405
Going to punt on this for now until we get our prioritizations in line for the end of the year. Porting still needs more research.

[2020-11-08 00:38] saragee3 commented on #429
note: Dexter could be _the_ logger (file, console, existing dexter etc merged ... in one..)

[2020-11-08 00:40] ebebbington commented on #429
I think that's a really good idea

*One logger to rule them all, one logger to find them, One logger to bring them all, and in the code bind them*

[2020-11-08 05:34] MVEMCJSUNPE commented on #437
Nvm. create_app_test_http.ts started working for some reason.

[2020-11-12 20:28] ebebbington commented on #435
wasn't this proven to be scalable with your 10000 resource test?

[2020-11-15 00:01] ramonmedeiros commented on #432
Now it's smooth. Thanks

[2020-11-15 00:01] #432 closed

[2020-11-16 22:28] crookse commented on #429
closing. this is now in castle.

[2020-11-16 22:28] #429 closed

[2020-11-17 09:52] crookse opened #451 "Deprecate favicon logic"
## Summary

What:

Deprecate favicon logic.

Why:

Serving the favicon is not part of the core processes of Drash. This logic will be written in the deno-drash-middleware repo under the name `ServeFavicon`.

[2020-11-17 09:52] crookse opened #452 "Deprecate Drash.Services.HttpService"
## Summary

What:

Deprecate `Drash.Services.HttpService`.

Why:

The `HttpService` only has two methods that can be moved into the `Drash.Http.Request` object.

[2020-11-17 09:52] crookse opened #453 "Deprecate Drash.Services.StringService"
## Summary

What:

Deprecate `Drash.Services.StringService`.

Why:

The `StringService` only has one method that can be moved into the `Drash.Http.Request` object.

[2020-11-17 09:52] crookse opened #454 "Deprecate server.static_paths"
## Summary

What:

Deprecate `server.static_paths` config.

Why:

Serving static paths is not part of the core processes of Drash. ~This logic will be written in the deno-drash-middleware repo under the name `ServeStaticPaths`.~

~The logic related to virtual paths will be written in the deno-drash-middleware repo under the name `ServeVirtualPaths`.~

See https://github.com/drashland/deno-drash-mi

[2020-11-23 02:47] #437 closed

[2020-12-08 21:55] panov-andy opened #459 "fail to run quickstart"
## Summary
Hello,
I was following the tutorial https://drash.land/drash/v1.x/#/#quickstart

## Steps To Reproduce The Bug

[code]
[code]

## Additional Context

Ubuntu 18.04

[2020-12-09 09:49] ebebbington commented on #459
@panov-andy We haven't updated following the most recent deno release so deno v1.6.0 doesn't work with drash v1.3.0. We'll work on a new release that is deno 1.6.0 compatible, for now, you'll have to downgrade to deno v1.5.4

[2020-12-11 15:37] ebebbington commented on #459
@panov-andy  v1.3.1 has been released with this fix - the version number isn't updated on https://drash.land yet but you can just update the drash version of your import, and everything should work fine with deno v1.6.0

Let me know if it does fix the issue, just to be sure :)

[2020-12-12 22:43] panov-andy commented on #459
Thank you.
It works now.

[2020-12-12 22:43] #459 closed

[2020-12-12 23:02] saragee3 commented on #443
should we just close these subcommand ones? I closed my pr after our 2021 discussion.

[2020-12-12 23:08] crookse commented on #443
@saragee3 yea

[2020-12-12 23:08] #443 closed

[2020-12-12 23:09] saragee3 commented on #442
see https://github.com/drashland/deno-drash/issues/443

[2020-12-12 23:09] #442 closed

[2020-12-19 12:24] crookse opened #557 "Cors: Allow OriginOption to take in Function"
## Summary

What:

https://github.com/drashland/deno-drash-middleware/blob/bc28939aa6304e2827df4ac7cd9987b081edb71e/cors/mod.ts#L6 should take a function.

Why:

Allows for more custom logic when parsing request origins.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write documentation
    - [ ] Should state something along the lin

[2021-01-09 13:26] #430 closed

[2021-01-10 04:07] Japroz-Saini commented on #395
I can make the CLI

[2021-01-10 14:46] ebebbington commented on #435
Just looking at this again, the above comment is invalid because the stress tests were don by the resource **setting the response body, not using the render method**

[2021-01-10 14:46] ebebbington commented on #435
Actually @crookse we'll be scrapping the render method won't we, as it's down to the jae middleware?

[2021-01-10 16:36] crookse commented on #435
@ebebbington yea we're scrapping it

[2021-01-10 16:36] ebebbington commented on #435
Should we close this issue or move it over to middleware repo? #cleanupCrew

[2021-01-10 16:37] crookse commented on #435
move to middleware repo. i still wanna test this

[2021-01-13 18:17] kuhlaid opened #467 "LoggerService"
## Summary

https://deno.land/x/drash@v1.3.1/deps.ts#L62 points to a non-existent URI (https://raw.githubusercontent.com/drashland/services/master/logger/logger_service.ts).

[2021-01-13 18:17] kuhlaid opened #468 "LoggerServices URI not found"
## Summary

https://deno.land/x/drash@v1.3.1/deps.ts#L62 points to a non-existent URI (https://raw.githubusercontent.com/drashland/services/master/logger/logger_service.ts).

[2021-01-13 18:18] #468 closed

[2021-01-13 18:18] kuhlaid commented on #468
Duplicate

[2021-01-13 18:19] ebebbington commented on #467
Thanks @kuhlaid, we're aware of this and we will be adding a fix today/tonight, we'll keep this issue updated for when v1.3.2 is released

[2021-01-13 18:44] kuhlaid commented on #467
Yeah, I was getting ready to say that tagging a new release should fix things since you have the correction in the master deps.ts file. This is my first day playing around with this module and it looks pretty cool. I will fork the repo so I can continue testing. - thanks

[2021-01-13 18:49] ebebbington commented on #467
Ok cool :) We didn't intend on pointing to a master branch, it was left in by accident

If you want to try tackle the issue yourself that's fine. The reason for this issue is because our Services repo made some changes to the `logger_service` file (https://github.com/drashland/services/releases/tag/v0.1.0), so the `import` statement, should really be point to `https://raw.githubusercontent.com/dra

[2021-01-13 22:02] ebebbington commented on #467
@kuhlaid Try importing v1.4.0, @crookse just released a fix :)

[2021-01-13 22:14] crookse opened #470 "VS Code error: name on resource is required"
Fix the following error:

![error](https://user-images.githubusercontent.com/12766301/104516716-cca03580-55c2-11eb-8cf5-e03343b87557.png)

[2021-01-14 13:25] kuhlaid commented on #467
Thank you @ebebbington, v1.4.0 imported without issue. - cheers

[2021-01-14 13:25] #467 closed

[2021-02-09 01:06] crookse opened #475 "Bring back API Reference JSON compiler"
## Summary

What:

We used to have a compiler that built out JSON for our API Reference pages. We should bring that back because we had a user ask for proper documentation on our API Reference and our documentation currently is busted and doesn't really work well with doc.deno.land.

Why:

Better documenation

## Acceptance Criteria

Below is a list of tasks that must be completed before this issu

[2021-02-22 21:27] crookse opened #479 "Docable is not parsing full doc blocks"
## Summary

Docable -- the API reference compiler for this module -- is not parsing complete doc blocks. See this page: https://drash.land/drash/v1.x/#/api-reference#drash-interfaces-serverconfigs. The doc block is cut off. This needs to be fixed in the branch for PR https://github.com/drashland/deno-drash/pull/477.

## Steps To Reproduce The Bug

`deno run -A console/compile_api_reference_json.ts

[2021-03-01 22:46] ebebbington commented on #470
Unable to replicate on a mac as well

[2021-03-01 23:12] ebebbington commented on #283
I've tried my hand a second time and can't not add proper strict types... D:

[2021-03-01 23:49] ebebbington commented on #470
Closing as this is no longer an issue

[2021-03-01 23:49] #470 closed

[2021-04-17 13:31] juzi5201314 opened #491 "How to send binary body?"
## Summary
Such as responding to a document?
[code]
This will get a null.

[2021-04-17 13:47] ebebbington commented on #491
Hey @juzi5201314, we don't actually support responding with typed arrays, for the time being you could decode it first:

[code]

Then re-encode it on the client

At the moment we return `"null"` if the data type is a `UInt8Array`, but I think this is something we should support

Can i ask why you're trying to respond with the binary data of an image?

[2021-04-18 02:24] juzi5201314 commented on #491
okay, thank you.
The binary data response of the image is because I need to generate a picture based on the input.

[2021-04-18 12:05] ebebbington commented on #491
Ah ok, well I think we should keep this issue open to track adding the support

[2021-04-19 00:41] crookse commented on #491
i agree with this @juzi5201314. we'll investigate. it might be that we already have the logic to do this, but it's just not made available for public use. stay tuned!

[2021-04-19 05:09] juzi5201314 commented on #491
I try to simply support it. #492

[2021-04-24 13:46] crookse opened #493 "Accepted response content types config"
## Summary

What:

Currently in v1, in order to support more content types, the `generateResponse()` method in the `Drash.Http.Response` class has to be overridden. In v2, we should make it so that this is easily configurable so that `Drash.Http.Response` doesn't have to be extended just to support other content types.

Why:

It improves the UX of the API.

## Example Pseudo Code (for implementati

[2021-04-26 21:47] #491 closed

[2021-04-28 19:40] Guergeiro commented on #493
This is indeed a good feature.

I have some ideas for this, probably for a better API for the user. Instead of creating the server and passing through a config, what do you think of this:

- Server tries it's best to figure out what `Content-Type` the request uri wants. Eg:
  - uri ends with `.html` -> `text/html`
  - uri ends with `.js` -> `text/javascript`
  - uri ends with `.png` -> `image/png`

[2021-05-02 01:30] mcarifio opened #495 "Add logging to your first demo app.ts"
First, drash is neat, nice job. Second, the example `app.ts` worked first time "out of the box" for me. That's rare and the first time that's happened for me in a long time. Nice job x 2.

## Add logging to your first demo app.ts

What: To make it a little more obvious that the example app.ts is working, add logging to the server configuration.

## Acceptance Criteria

If you agree. Here's the new

[2021-05-02 01:36] crookse commented on #495
Hi @mcarifio! I agree with this. Also, thank you for your kind words! I'm actually in the process of updating some documentation, so I can add this in right now and have it prepped for our next documentation pages release, which should be tomorrow at the earliest. I ran our example app code again and noticed we don't log when the server is actually running so it looks like the `deno run` command h

[2021-05-15 12:54] crookse commented on #475
Closing. See https://github.com/drashland/docable

[2021-05-15 12:54] #475 closed

[2021-05-15 12:55] crookse commented on #495
Transferring this over to the website repo.

[2021-05-15 16:19] Guergeiro opened #496 "Move to Moogle"
## Summary

What:

Change dependency from index_service to [Moogle](https://github.com/drashland/moogle).

Why:

With the release of v1 of Moogle, we can effectively move to a NOT raw import 😄

## Acceptance Criteria

All unit tests were migrated from index_service to Moogle.

[2021-05-30 12:59] crookse commented on #454
moving this to semester 2 as more planning is needed with drash middleware repo not being able to short-circuit requests in the before_request hook

[2021-05-30 12:59] crookse commented on #451
moving this to semester 2 as more planning is needed with drash middleware repo not being able to short-circuit requests in the before_request hook

[2021-05-30 13:00] crookse commented on #395
moving this to semester 2

[2021-05-30 13:00] crookse commented on #438
moving this to semester 2

[2021-05-30 13:24] crookse commented on #405
moving this to semester 2

[2021-06-02 06:38] japrozs commented on #395
You can make the command line interface using `commander`

[2021-06-02 11:40] crookse commented on #395
@japrozs, two issues with that:

1. it's a node package and drash is deno only
2. it creates a 3rd party dependency that we have no control over

ultimately, the drash cli is going to use Line

[2021-06-02 12:01] japrozs commented on #395
@crookse , the commander npm is a single file. I can easily convert it to typescript for deno to use and then u guys can use that as your own command line engine

[2021-06-02 12:04] japrozs commented on #395
Commander code file : https://www.github.com/tj/commander.js/tree/master/index.js

The only problem is that you wil have to implement the functions such as reading command line arguments and executing shell commands because this file uses nodejs standard modules which are not present in deno

[2021-06-02 12:16] crookse commented on #395
we have a cli framework already and plan to use it. it's already written, tested, has tutorials, so switching over to a commander-like framework or any other framework is already out of the question

[2021-06-06 15:36] closet6 opened #499 "drash.land seems to be down"

[2021-06-06 15:37] Guergeiro commented on #499
Yes it is. We are working on it.
For more information, please visit our discord server.

[2021-06-06 15:37] #499 closed

[2021-06-06 15:38] crookse commented on #499
Hey @closet6, we're currently provisioning the server right now, but yea like @Guergeiro said, more info on in the Discord.

[2021-06-06 16:21] crookse commented on #499
@closet6, site is up

[2021-06-06 17:21] closet6 commented on #499
@crookse awesome thx

[2021-06-06 23:23] ebebbington opened #556 "Add a GraphQL Middleware"
## Summary

What:

Add a middleware that can add as a graphql server, to intercept requests to make queries from, and serve a graphql playground

The graphql middleware should use inspiration from expresss, and graphql's own documentation:

https://graphql.org/graphql-js/running-an-express-graphql-server/

Why:

Graphql is very popular nowadays, having it as a middleware for drash would be a great

[2021-06-10 23:10] #496 closed

[2021-06-27 18:18] crookse opened #507 "Migrate deno-drash-middleware into this repo"
## Summary

What:

Migrate `drashland/deno-drash-middleware` middleware into this repository.

Why:

Consolidation.

## Acceptance Criteria

TBD

[2021-06-27 18:25] ebebbington commented on #507
Note that the idea is to move the middleware into a services folder that isn’t exported from mod.ts

[2021-07-10 19:48] ebebbington opened #509 "Add Support for Deno Deploy"
## Summary

What:

Add support to drash for deploying to Deno. This is a matter of a method drash provides to handle requests. You can see how its handled in deploy here: https://deno.com/deploy/docs/hello-world

The idea is that drash will provide a method that can do the same thing that it does when using `server.run`, for example the method will run through all the steps it uslally would: handl

[2021-08-01 04:55] crookse opened #514 "Create App script"
## Summary

What:

Implement the Create App script in the `cli.ts` file.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write documentation
- [ ] Write unit tests
- [ ] Write integration tests
- [ ] `cli.ts` uses drashland/line
- [ ] command should be `drash create-app --options --and --args`
- [ ] command should be able to scaffold

[2021-08-01 05:01] crookse opened #515 "Add services logic (formerly called middleware)"
## Summary

What:

Add in the services logic. Search for `TODO-SERVICES` in the codebase to see where services need to be worked.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write documentation
- [ ] Write unit tests
- [ ] Write integration tests
- [ ] Services should be executable at the server level (see example pseudo code)
-

[2021-08-01 05:03] crookse opened #516 "Clean up errors logic"
## Summary

What:

Search for `TODO-ERRORS` to see what work needs to be done.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] There is a `TODO-ERRORS Document the error codes in the website`. Just make sure there is an issue in the website repo to document the error codes.
- [ ] Write integration tests
- [ ] Write unit tests

[2021-08-01 05:04] crookse opened #517 "Request cookie handling"
## Summary

What:

Search for `TODO-REQUEST-COOKIE` to see what work needs to be done.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write unit tests
- [ ] Write integration tests

[2021-08-01 05:05] crookse opened #518 "Caching"
## Summary

What:

Search for `TODO-CACHE` to see what work needs to be done.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write unit tests
- [ ] Write integration tests

[2021-08-01 05:06] crookse opened #519 "Docblocks"
## Summary

What:

Search `TODO-DOCBLOCK` to see what work needs to be done.

[2021-08-01 05:07] crookse opened #520 "Fix issue with Deno.Reader response bodies"
## Summary

It's possible that we're not handling `Deno.Reader` response bodies correctly. Search for `TODO-RESPONSE-BODY-DENO-READER` in the codebase to see where the implementation/bug fixing needs to happen.

[2021-08-01 05:09] crookse opened #521 "Investigate/fix resource_handler.ts#setPathAsWildCardPath()"
## Summary

The `setPathAsWildCardPath()` method in `resource_handler.ts` might be broken. Investigate and fix as needed.

[2021-08-01 05:12] crookse opened #522 "Redirects"
## Summary

What:

Add in `this.redirect()` method on the RESOURCE. In v1, it used to be on the response, but it doesn't make sense for the response object to have that method because the response just represents a response. The resource should be in charge of redirecting requests.

Why:

I removed the redirect logic. It needs to be implemented again.

## Acceptance Criteria

Below is a list of ta

[2021-08-01 05:16] crookse opened #523 "Tests"
## Summary

What:

Rework all unit and integration tests.

Why:

Cause everything changed 😨

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Tests pass

[2021-08-01 13:13] crookse opened #524 "Respect the q-factor weighting in Accept header"
## Summary

What:

Currently, we do not respect the q-factor weighting in the Accept header.

Search for `TODO-REQUEST-ACCEPTS` in the codebase to see where this needs to be implemented.

Why:

We should do this so that APIs created using Drash can respect what clients are requesting when using the Accept header.

## Acceptance Criteria

Below is a list of tasks that must be completed before this

[2021-08-02 20:56] ebebbington opened #525 "Only retrieves one file even if file input is set to multiple"
Eg when `<input type="file" multiple>`

The problem is because we're returning the first item of files on `Request#getBodyFile`

The fix would be just returning the whole files array, but i dont think we should do this, because if an input is single, then a user should get that file object and not an array containing it. My thinking is we make a getBodyFiles method, that holds the same logic as ge

[2021-08-10 06:57] grian32 opened #529 "JSON.stringify doesn't work for bodies."
## Summary

Can't set `this.response.body` to `JSON.stringify(object)`, it shows a weirdly escaped version on browser, only works if you set the object itself as the body.

## Steps To Reproduce The Bug
1. Run this code
[code]
with `deno run -A --unstable file.ts`, navigate to `localhost:1447/api`, see this.
![image](https://user-images.githubusercontent.com/54550982/128822063-867b7c59-0718-48fc-8

[2021-08-11 16:45] ebebbington opened #531 "Enable tls tests"
We can now enable the tls tests: https://deno.com/blog/v1.13#disable-tls-verification

[2021-08-20 13:31] #529 closed

[2021-08-20 13:31] grian32 commented on #529
was resolved in discord

[2021-08-23 09:32] ZeroThe2nd opened #536 "Malformed JSON causes server crash"
## Summary

Using `this.request.getAllBodyParams()` causes a full server crash if malformed json is send to a resource. Using `this.request.parseBodyAsJson()` (undocumented) causes issues on normal, un-malformed json.

## Steps To Reproduce The Bug

1. Create a server and resource according to [the documentation](https://drash.land/drash/v1.x/#/tutorials/requests/handling-json-bodies)
2. Use the f

[2021-08-23 12:35] ebebbington commented on #536
The error throw isn’t being caught most likely because it isn’t thrown within the code you try/catch, the `getAllBodyParams` method just returns a property

I believe the error is thrown before the resource method is called when it tries to parse the body if it exists

what would you prefer we would do when we catch the error, instead of throwing it?

[2021-08-24 16:41] ZeroThe2nd commented on #536
I'd personally suggest to throw it up so it can be caught in processing inside the resource, however that will likely cause a lot of trouble if I go by your explanation.

It might be easier and/or better to catch generic issues like these (and possibly others) in a generic exception handler. Could be default function that simply returns a `500 internal server error` or such to let an end-user know

[2021-08-27 15:59] crookse-carimus opened #565 "JSX/TSX middleware"
## Summary

What:

Middleware to support JSX

Why:

Because someone asked about it, and it seems to be somewhat easy to implement.

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Write documentation
- [ ] Write unit tests
- [ ] Write integration tests
- [ ] Drash application supports JSX/TSX

[2021-08-29 12:59] #525 closed

[2021-09-05 10:26] izznatsir commented on #509
FYI: Deno Deploy beta 2 brings Deno.listen and Deno.serveHttp [https://deno.com/blog/deploy-beta2](https://deno.com/blog/deploy-beta2). So, now it might be possible for drash to be used in Deno Deploy. I haven't try it myself.

[2021-09-05 10:49] ebebbington commented on #509
@izznatsir cheers, that’s good to hear :)

[2021-10-17 23:19] ebebbington commented on #395
closing as the drash CLI is no longer implemented for v2, we will be going with a template repo instead

[2021-10-17 23:19] #395 closed

[2021-10-17 23:19] ebebbington commented on #283
Closing as master (v2) no longer contains this

[2021-10-17 23:19] #283 closed

[2021-10-17 23:19] crookse commented on #479
no need for this anymore. we're going strictly with doc deno land

[2021-10-17 23:19] #479 closed

[2021-10-17 23:20] ebebbington commented on #521
closing as this class/file is no longer in master (v2)

[2021-10-17 23:20] #521 closed

[2021-10-17 23:21] ebebbington commented on #514
closing, see #395

[2021-10-17 23:21] #514 closed

[2021-10-17 23:21] ebebbington commented on #515
done :)

[2021-10-17 23:21] #515 closed

[2021-10-17 23:21] ebebbington commented on #507
done, all middleware, now known as services, is inside drash v2 (master)

[2021-10-17 23:21] #507 closed

[2021-10-17 23:22] ebebbington commented on #454
removed in v2

[2021-10-17 23:22] #454 closed

[2021-10-17 23:22] ebebbington commented on #451
removed in v2, now it's handle by a user via a files resource

[2021-10-17 23:22] #451 closed

[2021-10-17 23:23] #452 closed

[2021-10-17 23:24] ebebbington commented on #536
Following v2, we need to add a test if there isn't one already, about sending malformed json

[2021-10-18 00:01] ebebbington commented on #520
as request bodies are now native, you cant assign a deno.reader to it

[2021-10-18 00:04] ebebbington commented on #518
todo has been addressed

[2021-10-18 00:04] #518 closed

[2021-10-18 00:05] ebebbington commented on #516
drash error is no longer a thing

[2021-10-18 00:05] #516 closed

[2021-10-18 00:06] ebebbington commented on #493
closing as:

- we no longer use a default content type
- users are expected to set this themselves (eg use the helper methods to send a response)

[2021-10-18 00:06] #493 closed

[2021-10-18 00:06] ebebbington commented on #453
its gone :(

[2021-10-18 00:06] #453 closed

[2021-10-18 00:07] ebebbington commented on #438
the cli has gone, sorry @saragee3 :/ it's moved to a template repo under the org (private)

[2021-10-19 22:33] crookse commented on #524
yea let's table this for now. i haven't seen a framework respect 100%

[2021-10-24 00:58] #524 closed

[2021-10-24 13:52] crookse opened #545 "GitHub Actions - Update action on pre-release to notify website-v2 repository"
## Summary

What:

We have this logic for the website repo, but not for the website-v2 repo.

Why:

Automation bruv. Let's get it!

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [ ] Pre-release workflow works the same in website-v2 as it does in website (e.g., version bumping occurs in all places, pull requests are made, etc.)

[2021-10-24 14:40] crookse opened #546 "Add CORSService to support CORS"
Check the logic against [expressjs/cors](https://expressjs.com/en/resources/middleware/cors.html)

[2021-10-26 02:29] crookse opened #547 "doc.deno.land doesn't work well with mod.ts"
## Summary

I'm not sure what's going on with doc.deno.land, but an error occurs. We might need to reach out to the Deno team to figure out what's going on.

## Steps To Reproduce The Bug

1. Go to https://doc.deno.land/https/deno.land/x/drash/mod.ts
2. See the error.

It's only with`mod.ts` (i think) though. For example, look at `server.ts` here: https://doc.deno.land/https/deno.land/x/drash/src/

[2021-10-26 02:34] crookse opened #548 "Update release drafter content"
## Summary

What:

Change the release drafter template to match the following markdown in this release:

https://github.com/drashland/drash/releases/tag/v2.0.0

Why:

I think it's best we add documentation pages to the releases.
I think it's best we show how to use the module.

These are definitely subjective, so this is open to discussion.

[2021-10-26 02:35] #545 closed, assigned to nobody

[2021-10-27 22:10] ebebbington opened #552 "Remove `render` prop for tengine config"
as far as im aware, the user doesn't even need to define it, tengine can, because it's signature never changes

Why dont we remove it from the configs and just set it from within tengine? no watter what, it will **always be **`render: (..args: unknown[]) => false`, so seems pointless for users to define it when they cant even change it if they wanted to

[2021-10-28 22:52] #531 closed, assigned to nobody

[2021-10-29 23:41] #548 closed

[2021-11-01 02:48] crookse opened #554 "Router / Route Prefixing"
### Discussed in https://github.com/drashland/drash/discussions/539

<div type='discussions-op-text'>

<sup>Originally posted by **vosmith** September 16, 2021</sup>
I happened to come across this project trying to figure out what Deno was and ended up finding Drash as one of the top web frameworks for Deno.  I like the simplicity of the current API, but I was wondering if this project was interes

[2021-11-01 21:16] Guergeiro commented on #554
Hum, we really don't have a way of "aggregate" endpoints, right?

[2021-11-02 00:22] crookse opened #555 "Rate limiter middleware"
## Summary

What:

Add rate limiter for app-level rate limiting. Inspiration to come from:

* https://github.com/animir/node-rate-limiter-flexible
* https://github.com/nfriedly/express-rate-limit

Why:

Adding a rate limiter middleware is a must. Even though you can apply them at web server level, not everyone has access to this in their use cases (AWS Serveless, Heroku Apps, Google Cloud Apps, et

[2021-11-02 00:25] ebebbington opened #558 "Session middleware"
Develop session middleware, using http://expressjs.com/en/resources/middleware/cookie-session.html as inspiration

## Acceptance Criteria

- [ ] Develop middleware -- taking [cookie-session](http://expressjs.com/en/resources/middleware/cookie-session.html) as inspiration.
- [ ] Write unit tests
- [ ] A VERY DETAILED README (see other middleware READMEs as examples)

## Taking on this issue? Read t

[2021-11-02 00:28] ebebbington opened #560 "Compressor middleware"
## Summary

What: Add compression middleware: http://expressjs.com/en/resources/middleware/compression.html

Why: Seems like a good middleware with a decent use case, developing it would give more features to users

## Acceptance Criteria

- [ ] Add compression middleware
- [ ] Tests
- [ ] It's own readme
- [ ] Follow the contributing guidelines

[2021-11-02 00:34] ebebbington opened #562 "Visa middleware"
## Summary

What: Add visa middleware, using https://github.com/jaredhanson/passport as inspiration

Doesn't have to be named visa, but it's unique and similar to passport

Why: Extra utility for users

## Acceptance Criteria

- [ ] Develop middleware
- [ ] Tests. Otherwise you get stranded on an island
- [ ] It's own readme (use contributing guidelines)

[2021-11-07 00:10] crookse commented on #554
we don't and i don't even know how we'd put that in without bloating the code just to support a router. any thoughts @Guergeiro @ebebbington ? only way i can think of is pretty much going with the proposed approach in the discussion

[2021-11-07 16:35] ebebbington commented on #554
i dont think we should go naming something a Router because i think it'll just get confusing - it isnt really a router, the server/resources are the 'routers', the 'router' in this context is just a way to prefix multiple resources intto a group

i've played around with it and came up with

[code]

Still toying with the idea, but another option could be like

[code]

Then when we create the resour

[2021-11-07 16:39] Guergeiro commented on #554
There's only two ways I think would work without changing a lot of stuff.

1. The way @ebebbington presented.
2. Using TS decorators at class level to change the uri to contain the prefix (uhh, we just removed tsconfig...).

[2021-11-07 16:39] ebebbington commented on #559
@diveDylan have you made any progress on this?

[2021-11-07 16:44] ebebbington commented on #552
closing, it is actually used

[2021-11-07 16:44] #552 closed

[2021-11-07 17:01] crookse commented on #554
i like ed's first way. that's clean.

[2021-11-07 17:07] Guergeiro commented on #554
And the first approach of @ebebbington seems better. And would also add a global level prefix.

[2021-11-07 17:07] ebebbington commented on #554
first approach is hackier tho lol (to impl it internally)

[2021-11-07 17:10] Guergeiro commented on #554
I get it... Is there a way of implementing a decorator pattern so that we don't change the logic of implementation? @crookse @ebebbington

[2021-11-07 17:15] crookse commented on #554
@ebebbington remember when i had the setUp method in Drash.Service? we could still introduce that and use a RouterService to rearrange the resources on setUp

[2021-11-08 08:12] diveDylan commented on #559
sorry, i forget this!  I will join the discord and read contributing line. It is too late ...

[2021-11-09 15:58] #561 closed

[2021-11-13 15:34] #556 closed

[2021-11-13 18:11] crookse opened #573 "Add Tengine"
Template engine middleware from Drash v1.x.

[2021-11-13 18:11] crookse commented on #573
Done. See #553.

[2021-11-13 18:11] #573 closed

[2021-11-13 18:12] crookse opened #574 "Local dev environment with hot reload"
Introduce browser reload when server refreshes via --watch or when server starts up

[2021-11-13 18:13] crookse opened #575 "Roadmap: 2021 Quarter 4 (October - December)"
* #555
* ~#546~ - moved to 2022 Q1
* #573
* #556
* #561
* ~#574~ - moved to 2022 Q2
* #559

[2021-11-13 18:19] crookse opened #576 "Roadmap: 2022 Q1 (January - March)"
* #554
* ~#565~ (not doing - see https://github.com/drashland/drash/issues/565#issuecomment-968180094)
* ~#566~ (not doing - see https://github.com/drashland/drash/issues/566#issuecomment-980449894)
* #583
* #591
* #595
* ~#586~ (moved to #588)
* ~#562~ (moved to #588)
* ~#546~ (moved to #588)
* ~#558~ (moved to #588)

[2021-11-13 21:25] crookse commented on #557
not doing this. origin can be matched by hardcoded string or regex.

[2021-11-13 21:25] #557 closed

[2021-11-14 00:20] ebebbington commented on #565
@crookse my initial feeling is that we add the support for a jsx service, then whats next? we need to add a vue service, twig service, etc

With how easy it is to bundle code in deno, i wonder if this is better left to the user (be it bundle and not use jsx service, or make their own), but alongside this, i guess this would only be used for dev, cause for every request, we need to transpile the re

[2021-11-14 00:28] crookse commented on #565
true. there's also this: https://deno.land/manual@v1.16.0/jsx_dom/jsx

[2021-11-14 00:28] #565 closed

[2021-11-17 17:40] Sembiance opened #580 "API Reference page fails to load"
## Summary

The API Reference URL linked to in the docs fails to load.

## Steps To Reproduce The Bug

1. Visit API Reference page: https://doc.deno.land/https/deno.land/x/drash/mod.ts
2. See error message: `An unexpected error has occurred.`

[2021-11-17 17:42] ebebbington commented on #580
Duplicate of #547, thanks @Sembiance but this issue is dependant on Deno, nothing we can do at the moment :/

[2021-11-17 17:42] #580 closed

[2021-11-18 01:29] ebebbington commented on #580
@Sembiance if you needed the documentation for a specific class or method, feel free to let me know and i can supply it manually

[2021-11-18 02:06] Sembiance commented on #580
Thanks, but I'm all set.

[2021-11-18 02:34] #559 closed

[2021-11-23 13:29] ebebbington commented on #554
made a pr for documenting this on how a user can do it, as opposed to us writing the code: https://github.com/drashland/website-v2/pull/47

@crookse do you know if we can contact the person that created the discussion?

[2021-11-26 21:57] crookse commented on #554
yea. replying now.

[2021-11-26 21:58] crookse commented on #554
hey @vosmith! we looked into this and there's actually nothing to implement since drash can be extended. here's an example of how to implement path prefixing:

https://drash.land/drash/v2.x/tutorials/resources/prefixing-paths

[2021-11-26 21:59] #554 closed

[2021-11-26 22:01] crookse commented on #563
closing this. i dont think we need to look into this anymore. forgot why i added it (i think it was because we allowed third-party libs to use `response.render`).

[2021-11-26 22:01] #563 closed

[2021-11-26 22:02] crookse commented on #566
closing this. this can be written as documentation -- showing users how to precompile sass during compile time and how to serve that sass on requests

[2021-11-26 22:02] #566 closed

[2021-11-28 22:46] ebebbington opened #583 "Allow to pass status code into response methods"
eg `response.json({ name: 'drash' }, 200)` or `response.text("Invalid request", 200)`

[code]

[2021-11-28 22:46] ebebbington commented on #583
found whilst working on realworld, would be great to not have to add an extra line to specify status code

[2021-11-29 02:25] crookse commented on #583
should we just overloaded methods? i ask because what if we end up wanting to add headers easily

[2021-11-29 21:23] ebebbington commented on #583
@crookse it's a good idea actually, but im generally against overloads cause the main function gets messy, like what if we then wanna add something else?

[code]

duplicate that for each response method, what ive actually been thinking about instead after reading your comment, is something like

[code]

what are your thoughts? if you feel storngly about overloads then we can try it out

[2021-11-29 23:56] ebebbington opened #584 "Make requets.bodyParam try decode the returning value too"

[2021-11-29 23:57] ebebbington commented on #584
So people dont have to decode when getting body input - though, are bodies ever encoded? unless done so by the user/dev? if so then this probably isnt needed

[2021-11-30 02:09] crookse commented on #584
like if it's a Uint8Array?

[2021-11-30 11:49] ebebbington commented on #584
I mean like decodeUriComponent, like how we do for query strings and path params

[2021-12-02 23:05] ebebbington commented on #584
actually they are when body is url encoded, but wonder if parsing the body foes that for us, need to investigate

[2021-12-04 11:54] bobwatcherx opened #585 "Uncaught ReferenceError: URLPattern is not defined"
deno spec
deno 1.14.0 (release, x86_64-unknown-linux-gnu)
v8 9.4.146.15
typescript 4.4.2

`// app.ts

// Replace `<VERSION>` with the latest version of Drash v2.x. The latest
// version can be found at https://github.com/drashland/drash/releases/latest
import * as Drash from "https://deno.land/x/drash/mod.ts";

// Create your resource

class HomeResource extends Drash.Resource {
  public paths = [

[2021-12-04 12:15] crookse commented on #585
hey @bobwatcherx , just run `deno upgrade` and you should be good to go.

[2021-12-04 12:16] crookse commented on #585
actually. your deno version is when they introduced URLPattern. caching issue maybe? i would 1. upgrade to latest deno and 2. kill your deno cache

[2021-12-04 12:35] ebebbington commented on #585
I think it was unstable in 1.14 and stable in 1.15 or 1.16? So you are right Eric, an upgrade should fix it

[2021-12-04 13:17] brmcerqueira opened #586 "Add OpenApi Specification (Swagger)"
## Summary

What: Add OpenApi Specification (Swagger) on Resources using Typescript Decorators.

Why: Because many programmers need to this feature to make documentation about their rest apis.

## Acceptance Criteria

- [ ] Write documentation
- [ ] Write unit tests

## Example Pseudo Code (for implementation)

[code]

[2021-12-04 13:40] crookse commented on #586
hey @brmcerqueira !

1. thanks for raising this!
2. i completely agree with you that programmers need this to document their REST APIs without having to define the Swagger schema manually
3. we made the decision to stay away from decorators when developing Drash v2 :(

i know the TypesScript decorators makes things convenient, but we really do not want to manage code around TypeScript decorators i

[2021-12-04 14:09] brmcerqueira commented on #586
hey @crookse

I like your suggestion. I'm going to think a way I can help you at development on this code.

[2021-12-04 15:18] crookse commented on #586
awesome! feel free to hop in our discord for on-the-fly discussions: https://discord.gg/RFsCSaHRWK

[2021-12-12 17:02] ebebbington commented on #547
The doc page is now fixed again, guessing it was due to them rewriting the site

[2021-12-12 17:02] #547 closed

[2021-12-16 03:01] crookse commented on #585
@bobwatcherx did an upgrade work?

[2021-12-16 03:05] crookse commented on #583
nah i don't have a preference. just thought overloads would make it easier.

[2021-12-16 03:05] #575 closed

[2021-12-16 03:07] crookse opened #588 "Roadmap: 2022 Q4 (October - December)"
* #586 (moved from #576)
* #562 (moved from #576)
* #546 (moved from #576)
* #558 (moved from #576)
* #574

[2021-12-16 05:06] bobwatcherx commented on #585
It work . Good thanks

[2021-12-17 19:27] ebebbington commented on #585
will close this now

[2021-12-17 19:27] #585 closed

[2021-12-21 21:55] bradenmacdonald commented on #586
Hi folks, I thought you might be interested to see how I've approached this in my latest large Drash/Deno project. I'm a big fan of OpenAPI and generally of defining and validating API schemas using DRY code.

Although I don't get have OpenAPI generation implemented in this project, I do have the API shape fully defined and validated by code. I put the TypeScript schemas in a common library which

[2021-12-22 14:22] crookse commented on #586
hey @bradenmacdonald , thanks for taking part in this discussion!

you have a very interesting approach to a base resource class. it's pretty awesome actually. so you've actually provided two solutions:

1. i can see the way you define the request body schema being used in the swagger service we want to introduce. at first glance, it seems like it will be pretty easy to place a `Drash.Service` cla

[2021-12-22 14:26] ebebbington commented on #586
@bradenmacdonald im with Eric, what you’ve done is awesome!

[2021-12-22 14:41] Guergeiro commented on #586
@bradenmacdonald if you can implement a community made OpenApi that integrates well with Drash, you get a ⭐ from us 😅

Seriously though, it wouldn't shock me if it was not part of Drash main repo.

[2021-12-30 08:32] routmoute opened #591 "ErrorService to handle HttpErrors / introduce custom error handling"
## Summary

What:

Possiblity to modify Errors messages:
For exemple, change
[code]
by
[code]
or what we want

Why:

Do not see details in production

## Acceptance Criteria

Below is a list of tasks that must be completed before this issue can be closed.

- [x] Write documentation
- [x] Write integration tests
- [x] Write feature

[2021-12-31 21:12] bradenmacdonald commented on #586
Thanks for the encouraging feedback everyone :)

I'm not sure I'll personally have time to package my approach up as a reusable service anytime soon, but it's something I would like to contribute to if I can eventually!

[2022-01-02 14:44] mdanialr opened #593 "Modify body request in service."
## Summary

What is your question?
Since i didn't find it in docs, so i will ask it here.
How to modify body requests in service say like in `runBeforeResource()`?

## Example scenario:
I want to transform certain body requests to the expected format or something similar.

Thanks.

[2022-01-02 16:39] crookse commented on #593
hey @mdanialr ! so i looked into this and it's currently not possible to do it in a service. the request body is unmodifiable. i checked to see if our internal API (`Drash.Request.create()`) would be able to do it, but ultimately if you modify the request in the service, the modified request doesn't make it to the resource and the resource uses the original request that came in.

it is possible to

[2022-01-02 17:18] mdanialr commented on #593
hi @crookse, thanks for the quick response, indeed this is a nice workaround although it won't as flexible as Service.
I have already tried that snippet but, i noticed that it will return a new object and override the original request. What i expected is to modify the value so i need to changes
[code]
to
[code]
thus will only modify certain fields without changing anything other than that.

### On

[2022-01-02 17:20] mdanialr commented on #593
we could separate validation, sanitizing input things, etc. from resources if this could be implemented in Service

[2022-01-02 17:27] crookse commented on #593
@mdanialr, i agree it's not as flexible as a service. there's currently an open issue (https://github.com/drashland/drash/issues/586) that will introduce validation and should be released before march (we have it slotted for quarter 1 this year). the issue says "OpenAPI / Swagger", but it will include validation code in a separate service that can be used without having to import the OpenAPI servi

[2022-01-02 17:28] mdanialr opened #594 "Throw JSON Response"
## Summary

What is your question?
is it possible to throw JSON response rather than HTTP (just like what's written in the docs)?

[code]
this indeed cut the chaining request and throw an error but it throws HTTP instead.
I already tried this
[code]
but this snippet doesn't cut the chain and still continues the request cycle to the resource.
how do i cut the request cycle and return a JSON respons

[2022-01-02 17:30] mdanialr commented on #593
@crookse that's great. Thanks for the quick response.

[2022-01-02 17:30] #593 closed

[2022-01-02 17:39] crookse commented on #594
there's currently work being done in #592 to address this. we stripped out the error handling logic when we introduced v2. the current workaround is to NOT throw an error, but to return a response in a resource (again, sorry this not as flexible as a service):

[code]

also, to make returning responses a bit more intuitive, https://github.com/drashland/drash/issues/583 is in quarter 1 as well

[2022-01-03 08:47] mdanialr commented on #594
will [#592](https://github.com/drashland/drash/pull/592) be merged to v2 soon after got approved? so i could try it out?

[2022-01-04 01:53] crookse opened #595 "e.code check in request handler doesn't account for non-HTTP error objects with code property"
See https://github.com/drashland/drash/pull/592#discussion_r777265454

Our error handling process assumes that any error object thrown that contains a code field will be a correct HTTP status code. this needs to be fixed because some dependencies can throw an error in a service or resource AND have a code field that IS NOT an HTTP status code.

we need to ensure that if the code field is present,

[2022-01-06 01:59] Guergeiro commented on #595
![image](https://user-images.githubusercontent.com/39097691/148315885-ac717076-179f-4fc7-97d7-9df0e2af4d63.png)

Print for context, since I can't see it correctly with link.

[2022-01-07 16:44] routmoute commented on #595
the question is answered here: https://github.com/drashland/drash/pull/592#discussion_r780366526

[2022-01-08 13:38] #591 closed

[2022-01-09 00:36] #595 closed

[2022-01-10 00:20] crookse commented on #594
hey @mdanialr, v2.4.0 was released (includes #592). the documentation page for error handling can be found here: https://drash.land/drash/v2.x/tutorials/servers/error-handling

let us know if you have any questions or if the documentation is not clear. happy coding! (also, let me know if i'm good to close this issue)

[2022-01-10 01:53] mdanialr commented on #594
@crookse that's great! also thanks for your notes

[2022-01-10 01:53] #594 closed

[2022-01-10 01:57] crookse commented on #594
hey @mdanialr , i decided to improve on the error handling page and include an example on throwing errors in services (inspired by this issue). the documentation is currently in a pull request, but you can view the documentation at http://localhost:3000/drash/v2.x/tutorials/servers/error-handling under the Throwing Errors in Services section

[2022-01-23 01:03] ebebbington commented on #584
Only encoded when explicitely done by the user/dev, and the fact that bodys can be objects, a N amoutn fo levels deep, it isn't practical for us to try decode the value

[code]

And i'm sure this *does* happen, but very very rare, so i think we're good to just dismiss this, if that one user who encounters an obejct with encoded data, because a 3rd party dev sent it to them like that, they should d

[2022-01-23 01:03] #584 closed

[2022-01-25 18:02] ebebbington opened #599 "`Response#file()` doesnt work on images"
Only tested on a jpg file, the code passes, no errors thrown, but the way we're reading **image** files is incorrect

The code needs to be `readFileSync`, not `readTextFileSync`

Tested myself and changing it still correctly displays js, css etc, but also will display pngs and jpgs

![image](https://user-images.githubusercontent.com/47337480/151033162-d784b30e-6b4a-4617-b166-fec829806a92.png)

Bas

[2022-01-25 18:10] crookse commented on #599
interesting. we could add a try catch to gracefully handle the error in case the file isn't readable, but should we?

[2022-01-25 18:58] ebebbington commented on #599
Would make sense but I think our beautiful lifecycle would already catch it and throw a http error

[2022-01-26 23:17] ebebbington opened #600 "Sentry support?"
More of a discussion

I think it'd be great to *somehow* add sentry support to drash applications. This will show even more so that drash can be used in prod and people can switch our their apps for a drash server

I initially thought of it as a service, but a service can't wrap the lifecycle in a try catch, so my new idea would be to bake it in drash itself, which imo has its benefits and drawbac

[2022-01-27 23:59] #583 closed

[2022-01-31 22:34] ebebbington commented on #599
The only test needed is that file() produces a binary, which it does now

If images/files are invalid, ie the content of the file, thats down to the user check and fix?

[2022-01-31 22:34] #599 closed

[2022-02-05 22:02] bradenmacdonald opened #604 "feat: access raw request.body"
## Summary

I would like to allow API consumers to upload a file directly in a request body, not via form encoding. In particular, I want to be able to process large file uploads as a stream. It seems that currently Drash always consumes `request.body`, so trying to access it myself results in the error `ReadableStream is locked.`

Why:

Some REST API methods make more sense as direct file uploads

[2022-02-07 01:04] ebebbington opened #605 "Allow services to send repsonses and end lifecycle"
## Summary

Im sure we added something like this before, not sure what happened

What:

For example allow a service before resource to redirect, and not have the resource called

Why:

A real use case people have

[2022-02-08 02:33] bradenmacdonald commented on #604
Actually the current situation may be more of an issue than I thought. Today I tried to deal with uploaded image files, but kept finding that their data was corrupted. I believe the current use of `FileReader.readAsText()` corrupts binary data, resulting in a string that cannot be used to recover the originally uploaded binary data. (Because it's not a reversible transformation if the original dat

[2022-02-08 10:44] ebebbington commented on #604
Thanks @bradenmacdonald, we’ll try look into it and see if there’s a way you can get the raw body and investigate this issue

[2022-02-08 23:30] ebebbington commented on #604
@bradenmacdonald yeah you are right, we weren't reading files properly, and i switched in your code and it all works fine :) If we added this fix, would you still want (have a usecase) to read the raw body? the team were talking about it and just curious if it is needed (high priority) or if not (then there's no rush to get it done)

[2022-02-08 23:42] bradenmacdonald commented on #604
@ebebbington I definitely need a way to read binary files like images, so thanks for making that fix!

But otherwise I'd say there's no rush for accessing the raw request.body. Although it's nice to be able to handle large uploads as a stream and to allow API designs that involve POSTing files directly as the body of a request, I wouldn't say it's urgent. At least for my use cases - I'm mostly dea

[2022-02-08 23:49] ebebbington commented on #604
@bradenmacdonald ok perfect, well you're in luck, we were just discussing a plan to move the parse budy logic into a service that the user passes to their server if they want bodies parsed, still a discussion but could be v3 following this fix (v2.5.2)

[2022-02-09 00:13] ebebbington commented on #604
Leaving this issue open for support of accessing raw body, but #606 will fix the issue of corrupted files

[2022-02-10 23:47] ebebbington commented on #604
@bradenmacdonald 2.5.2 release, feel free to check the latest release

[2022-02-11 04:31] bradenmacdonald commented on #604
@ebebbington 2.5.2 works great for my image upload use case. Thanks so much!

[2022-02-15 03:11] joedakroub opened #607 "fix: hard-coded redirection http status on resource.redirect()"
## Summary

What:

When calling `this.redirect(url, response)`, the status code is hard-coded to 302.

It would be beneficial to be able to set the status code to 301 as well for permanent redirects.

Why:

From an SEO perspective, it is considered a good practice to use 301 instead of 302 for redirecting pages.

## Acceptance Criteria

Below is a list of tasks that must be completed before this i

[2022-02-15 03:31] crookse commented on #607
hey @joedakroub , that's actually a bug. it shouldn't be hardcoded. working on a fix. will reach out to you once i open a PR for the team to review. thanks for raising this!

[2022-02-15 03:45] crookse commented on #607
hey @joedakroub , PR is open at #608. as a drashland rule, we can't release this fix/feature without documentation. i'll be writing that documentation sometime tomorrow. again, thanks for bringing up this issue!

[2022-02-15 04:00] crookse commented on #605
yea you had logic to handle this right before we released v2. it was the `send` prop and `end()` method on the service that I said we didn't need to use. good thing those data members are still in the service class though lol. my bad!

[2022-02-16 02:50] crookse commented on #607
@joedakroub , documentation is written. will have this released soon after the docs are approved

[2022-02-16 13:31] crookse opened #609 "Resource paths should be sorted as they're defined"
## Summary

There was a bug in v1 where paths with wildcards would supersede paths that were "real". Breno has a good description of what should be happening:

[2022-02-17 02:44] crookse commented on #607
hey @joedakroub! v2.5.3 is released, you can add a status code to the redirect call once you pull down that version. documentation is here: https://drash.land/drash/v2.x/tutorials/resources/redirections

[2022-02-17 02:44] #607 closed

[2022-02-22 05:42] sant123 opened #611 "Issue using download method downloads the file with `download` name"
## Summary

Running this code https://drash.land/drash/v2.x/tutorials/responses/setting-the-body#download from the docs always generates a file named `download`.

## Steps To Reproduce The Bug

1. Copy and paste the code from the docs
2. Run the app
3. Open a browser tab with the application link
4. Will see all files downloaded as `download`

## Expected Behavior

It should use the filename from